[2014-12-13 18:23] jdearie opened #1 "Authenticated users could NOT edit their own sessions"
OOTB sessions are not editable by the submitter because all sessions get associated with the default conference (OG) which no one is a member of. Even if you were a member of the OG, the OG permissions OOTB don't come configured for any extra permissions. So even though the global permission for "edit own session" is set to allow an authenticated user to edit their own session, they ultimately can

[2014-12-13 18:24] jdearie opened #2 "Site-wide edit issues. Random nodes were not editable by even Admins"

[2014-12-13 18:28] jdearie opened #3 "Room plotting issues with scheduling sessions in rooms."
Nothing prevented you from putting multiple sessions into one room like it did in Drupal 6.

[2014-12-13 18:28] jdearie opened #4 "Ordering of rooms or sessions was by date added."

[2014-12-13 18:29] jdearie opened #5 "Random registration errors. Test Email Confirmation (SMTP)"
Email confirmation messages didn’t go out. Maybe look into using Mailchimp integration for sending emails.

[2014-12-13 18:34] jdearie opened #6 "Finalize conference splash page with mailchimp signup integration"
We will have one permanent mailchimp list.

[2014-12-13 18:35] jdearie opened #7 "Import previous email addresses into mailchimp"

[2015-01-13 19:28] timwood opened #8 "Post DrupalGovCon splash page at domain"
- [x] Create new folder in Acquia Git and add splash page and assets
- [x] Point DNS to Acquia
- [x] Edit 2014 home page to include link to new site

[2015-01-14 01:15] timwood commented on #8
Here is a little overview of how the current Acquia setup is configured.

Multiple domains are configured in Acquia Insight > Cloud > Domains production environment including:
- capitalcampandgovdays.com (www, 2014)
- capitalcamp.org (www)
- drupalgovdays.org (www)
- drupalforgov.org (www)

There are two Drupal sites folders configured in the Git repo in Acquia cloud: capitalcampandgovdays & defau

[2015-01-14 03:26] timwood commented on #8
Here's what I added to .htaccess to accomplish this task, after committing Jon's splash page code to a folder called "/soon".

[code]

[2015-01-14 03:27] timwood commented on #8
Code is all contained in Acquia Git repo. Nothing in this one, yet. :-(

[2015-01-14 03:27] #8 closed, assigned to timwood

[2015-01-14 03:51] timwood opened #9 "Style Twitter page with nice image and properly sized logo"
https://twitter.com/drupalgovcon

[2015-01-14 03:53] timwood opened #10 "Setup Google Analytics account and add tracking code to splash page"
https://www.google.com/analytics

[2015-01-14 03:53] #10 closed, assigned to timwood

[2015-01-14 11:28] jonraedeke commented on #9
Can you remind me what the login for twitter is? Chat is fine.

Here is the logo in a square, but I'd like to also style the colors of the Twitter page.
![drupal_govcon_logo_square](https://cloud.githubusercontent.com/assets/2054715/5738109/6104eb76-9bb6-11e4-838c-245a376a3c69.png)

[2015-01-15 02:43] Nneka commented on #4
The page causing issues:  http://2014.capitalcampandgovdays.com/team-session-review?sort_by=field_session_timeslot_target_id&sort_order=ASC

Sessions are not fully being sorted by date.

Will build out sessions in the updated COD distro to see if I can recreate the problem.  Will first enter in about 10 to 20.  I will then go back and update a session to see if it continues to sort as it should.

[2015-01-15 02:47] Nneka commented on #4
A new cod distro was released January 7, 2015.

[2015-01-15 14:06] timwood commented on #9
Any progress @jonraedeke or should I go ahead and put up the square image for now?

[2015-01-15 14:56] jonraedeke commented on #9
Sorry, I just updated the logo and changed the header color. It's good
enough for now, but I'll think up some kind of cool bg images or something.

On Thu, Jan 15, 2015 at 9:06 AM, Tim Wood notifications@github.com wrote:

[2015-01-15 15:00] timwood commented on #9
No need to be sorry. Thanks for working on it! Feel free to close this or leave it open for the background image bit.

[2015-01-15 15:01] #9 closed, assigned to jonraedeke

[2015-01-16 19:43] timwood opened #11 "Add exact dates to DrupalGovCon splash"

[2015-01-16 19:44] timwood opened #12 "Fix Mailchimp signup return page to not go to old site"

[2015-01-16 20:02] jdearie opened #13 "Create second mailchimp sign up and add to sponsors page"

[2015-01-16 20:02] timwood opened #14 "Configure second list in Mailchimp for Sponsors and add form to splash page"

[2015-01-16 20:03] #14 closed, assigned to jonraedeke

[2015-01-16 20:05] timwood commented on #14
Duplicate of https://github.com/Drupal4Gov/Drupal-GovCon-2015/issues/13

[2015-01-16 20:11] jonraedeke commented on #12
Updated site url to http://drupalgovcon.org.
Also updated the header of all notifications to say "Drupal GovCon"

[2015-01-16 20:11] #12 closed, assigned to jonraedeke

[2015-01-16 20:38] #11 closed, assigned to jonraedeke

[2015-01-16 20:53] jonraedeke commented on #13
I added another Mailchimp list and configured it. I still need to add the form on the splash page.

[2015-01-17 23:37] timwood commented on #6
@jdearie Isn't this done?

[2015-01-18 17:33] jdearie commented on #6
I think so? I don't remember why I created this issue other than to document what we were going to do.  @jonraedeke - did you do anything with this?

[2015-01-18 17:35] #6 closed, assigned to nobody

[2015-01-18 17:53] jdearie opened #15 "Tasks to Make Sure COD Can Do"
- [x] Create time slots by day and by room
- [x] Define times spots as sessions and/or non-sessions (can't remember name COD gave it)
- [x] Assign sessions and non-sessions to time slots by day --relates to #4
- [x] Create views of sessions by day and by track
- [x] Can COD successfully do multiple events in one site?

... those are the big ones for now.

[2015-01-18 18:01] jdearie opened #16 "Get Archive content from 2014 site"
Get content out of old static site so that we can put archived content on the drupal4gov.

[2015-01-18 18:06] timwood commented on #16
@jdearie If you run into any trouble downloading the page in it's entirety (once it's available) @sutch has a lot of experience with site scraping.

[2015-01-18 18:53] alisonjo315 opened #17 "google+ profile improvements"
- [x] set up url alias for G+ (and youtubte, etc.)
- [x] Change G+ image

[2015-01-18 19:23] timwood commented on #15
Here's the list of COD features/functionality I've enabled in my test environment that I will check to see how well they work. Kirsten said all the ones I checked are features we need.

![screen shot 2015-01-18 at 1 17 30 pm](https://cloud.githubusercontent.com/assets/91050/5793749/7ef03d1a-9f1d-11e4-91c4-e5fb5eb5c157.png)

[2015-01-18 19:25] timwood commented on #17
Added better logo to G+ account.

[2015-01-18 19:31] alisonjo315 commented on #17
The way G+ (etc.) URL's work, you don't get much say in the matter, and the URL they're offering us is Drupal4Gov _plus additional characters_ (they say, "Many people have the same name. Add a few extra letters or numbers to this URL to get one that is unique for you.") -- but, no one is using this URL!

According to Google+ Help, your only recourse is to submit a feedback message and wait -- and

[2015-01-18 19:59] jdearie commented on #16
Listing of sessions that DO have links to presentation material
https://docs.google.com/document/d/1_7AUt5dbN4DY3pSQ7koSUJqBB6HSX0AXVYXnpdtIHkE/edit?usp=sharing

Listing of sessions that DO NOT have links to presentation material
https://docs.google.com/document/d/1RYOi26IbNIJw189W_Y6JdXr-U5w_OEhahg2X6YGDqn8/edit?usp=sharing

[2015-01-18 20:20] timwood opened #18 "Research and test modules for social media publishing from COD site"

[2015-01-18 20:34] jdearie commented on #16
I still need to grab the actual files that are located within the COD site vs linked to from comments.

Created a view to get this info - and just changed the slide field filter (null vs not null)
http://2014.capitalcampandgovdays.com/sessions/accepted/4archive

[2015-01-27 03:22] jonraedeke commented on #13
At the last mtg, we decided a sign up form to get the sponsor info was too indirect. The new plan is link to a static sponsor page with the info, prospectus and mailchimp sign up there.

[2015-01-27 18:06] jonraedeke opened #19 "Create style tiles"

[2015-02-06 00:37] Nneka commented on #4
This view no longer exists and is probably been replaced by another view.    There's a new view (admin/conference/1/schedule) that uses tab for each date.  Sessions seem to be sorting correctly.

Tested this only local computer.  Don't see the problem occurring.

http://localhost:30080/admin/conference/1/schedule

[2015-02-06 00:53] Nneka commented on #2
Roles are:
Administrator
Content Editor
Session Organizer
Sponsor Organizer
Attendee Manager
Administrator

Testing the roles listed above to see if I can recreate this problem in the new COD.

[2015-02-13 01:06] Nneka commented on #5
Server level issue.  Wonder if the server was set up for SMTP.  This is a server issue that can be resolved with troubleshooting.

The only real way to test this now would be to test on the server that will house the DrupalGovCon website.

As soon as the site website is setup on the server, this should be one of the first things that should be tested.

Ticket should remain open and addressed durin

[2015-02-13 01:38] Nneka commented on #3
There are two ways to go about adding a session to a room for a particular time.  When I attempted to use the Scheduler page (admin/conference/1/schedule), it wouldn't allow me to add it... BUT when I edited the Session directly and selected the same time and room as a booked room, it allowed me to..

Problem is.. when I return back to the scheduler page, I don't see the second session that was ad

[2015-02-13 01:41] Nneka commented on #1
I personally had this problem.  Once I submittted my session, I could not edit it.  Will have this tested by our meeting this Saturday.

[2015-02-19 03:15] Nneka opened #21 "Theme landing page"

[2015-02-19 03:15] Nneka opened #22 "Build Landing Page"
Stuff for home page
- [x] Navigation (this probably could come later)
- [x] General event info (name, dates, location)
- [x] Featured keynote
- [ ] Subscribe for updates
- [x] News list (1-5 items long)
- [ ] Social media links/icons
- [x] Session tracks (pane there, waiting on icons)
- [x] Diamond sponsors in top (pane there, needs styling)
- [ ] Become a sponsor
- [X] Submit a session
- [X] Appl

[2015-02-20 12:46] #19 closed, assigned to jonraedeke

[2015-02-20 12:54] jonraedeke opened #23 "Drupal GovCon look and feel notes"
The group voted and chose the following look and feel for Drupal GovCon. I'm using this task to keep track of comment or notes about this styling.

![screen shot 2015-02-20 at 7 51 10 am](https://cloud.githubusercontent.com/assets/2054715/6286436/58284728-b8d5-11e4-9c3a-521bbfc6fdc9.png)

[2015-02-21 17:51] timwood commented on #13
Hey @jonraedeke what is the status of this task? @Nneka asked Kirsten for priorities recently and getting up the sponsor information was at the very TOP. Since I don't believe we are anywhere near ready with the new COD site, I think we should still put it up under the static "splash" site as this task outlines. Do you want me to take a stab at it?

[2015-02-21 18:09] timwood commented on #22
@jonraedeke @Nneka @alisonjo2786
What do we think should go on the homepage to begin with? How's this list for starters?
- Navigation (this probably could come later)
- General event info (name, dates, location, featured keynote)
- Subscribe for updates
- News list (1-5 items long)
- Social media links/icons
- Become a sponsor
- Submit a session
- Apply for scholarship

[2015-02-21 18:39] timwood commented on #13
I've taken a stab at a page. Only half of it is saved in a new file. Most of the style changes/moving stuff around I did in chrome inspector. I've attached a screenshot. I could not find draft content for the sponsors page. Not sure how much language needs to go on there aside from a link to the prospectus and signup form. I purposefully removed the "Drupal govenment days and ..." tape thing at th

[2015-02-21 21:19] timwood commented on #1
I've just tested this from my a regular "authenticated user" account (the one Nneka created for me) and I do not have permission to edit my own session. It has to do with the Organic Group the session node is associated with. The regular user is not a member of the organic group and thus restricted from editing their own node. I need to do more testing to find out whether a user with a ticket to a

[2015-02-21 21:47] jonraedeke commented on #13
I like it @timwood . I thought we were on hold until the prospectus was finished. Is it ready?

[2015-02-21 21:49] jonraedeke commented on #22
@timwood This looks like a good list. I can't think of anything else. I'm working on a home page mockup. Feel free to add raw info to the site in the mean time.

[2015-02-22 02:46] timwood commented on #13
I've asked via email whether the prospectus is ready. I see a couple versions in Gdocs.

[2015-02-22 02:56] timwood commented on #22
I'd like to have a discussion and perhaps consensus about how we should manage the home page (and others) in COD. Certain elements that are common for all pages (navigation/banner, footer, sponsors) should be in the theme, placed via context, the default block system or other site-wide mechanism/module.

But we should also consider that we plan to use this COD install for future events as it suppo

[2015-02-23 05:18] jonraedeke commented on #21
Here's a start to the design of the home page. Some elements would change when the event is closer. For example, the navigation would have session schedule, sponsors, training, etc. Also, in place of the star for sponsors would probably be tickets or something.

![screen shot 2015-02-23 at 12 12 18 am](https://cloud.githubusercontent.com/assets/2054715/6323098/8e1ef912-baf1-11e4-81f9-bab58771dc61.

[2015-02-23 13:09] jonraedeke commented on #21
Realized that pic of Dries is about 7 years old. I'll stick a new one in.

[2015-02-23 13:49] timwood commented on #21
Looks great!
On Feb 23, 2015 8:09 AM, "Jon Raedeke" notifications@github.com wrote:

[2015-02-23 13:52] timwood commented on #21
News header should probably be below sign up form. With it above sign up
form it implies, to me, that you are signing up for news. That's sort of
true, but I doubt we will email every news node to the participants email
list, right?
On Feb 23, 2015 8:49 AM, "Tim Wood" tim@buchbinder.org wrote:

[2015-02-23 18:09] jonraedeke commented on #21
good point

[2015-02-23 18:29] jonraedeke commented on #22
@timwood Can we make this event url be http://drupalgovcon.org/2015 and have http://drupalgovcon.org/ point there? That way users would logically type a different year to access previous or upcoming events. Maybe this is what you were already alluding to.

From a theming perspective, we'll probably want to change up the look and feel each year. But given the timing, we could address that after the

[2015-02-27 20:19] timwood commented on #13
Closing as we've decided to just link to the prospectus PDF directly from the splash home page.

[2015-02-27 20:19] #13 closed, assigned to jonraedeke

[2015-02-27 20:35] timwood opened #24 "Add prospectus link (GDrive linked PDF) to splash page"

[2015-02-27 20:37] timwood opened #25 "Reach out to COD maintainers for help with how best to use COD"
Questions
- How best to use COD's OG functionality to have multiple events year after year? Should we model after DrupalCon (events.drupal.org/EVENT) where the home page redirects to the current event?
- How are session's supposed to work with regard to authors editing them after submitting?
- Questions about sponsorship management in COD

matthew@mrconnerton.com

[2015-03-03 05:35] timwood commented on #25
Email sent to Matthew connerton.

[2015-03-06 14:08] timwood commented on #1
I've narrowed it down to two options to "fix" this issue. I'm waiting to hear back from either Dave Stoline or Matt Connerton.
1. Change the active conference's permissions (OG perms) to allow non-members to "edit own" sessions and bof-sessions. OR change the default OG perms in the same way.
2. Change the global OG setting "Strict node access permissions" (og_node_access_strict), currently CHECKE

[2015-03-06 14:41] timwood commented on #24
Kirsten says it will be ready for posting early next week.

[2015-03-06 15:17] timwood commented on #5
I've been doing various testing of registration in dev and test and I've received every email without problem.

[2015-03-06 15:18] timwood commented on #4
Based on @Nneka's findings I'm closing this issue. Thanks!

[2015-03-06 15:18] #4 closed, assigned to Nneka

[2015-03-06 15:20] timwood commented on #2
I think this may have been related to COD's complex permissions and specifically this issue: https://github.com/Drupal4Gov/Drupal-GovCon-2015/issues/1

@Nneka What did you find when testing  last month?

[2015-03-06 15:20] timwood commented on #7
Are we still going to do this @jdearie ?

[2015-03-06 15:27] timwood commented on #15
Based on past Drupalcon sites it should not be a problem to have a list of sessions by day with filters by track or even sessions by track.

[2015-03-06 15:32] timwood commented on #17
Looks like this was resolved https://plus.google.com/u/0/+Drupal4Gov

[2015-03-06 15:32] #17 closed, assigned to alisonjo315

[2015-03-06 15:36] timwood opened #26 "Research and enable antispam module for registration, comments"
Options:
- Mollom
- Captcha
- Honeypot
- Botcha

[2015-03-06 15:38] timwood opened #27 "Research and implement improved registration/login module"
Username's are so 2000's, why not use email address instead? What about external authentication options like G+, FB, Twitter, etc?

Options:
- https://www.drupal.org/project/logintoboggan
- https://www.drupal.org/project/email_registration
- https://www.drupal.org/project/super_login
- https://www.drupal.org/project/hybridauth
- https://www.drupal.org/project/friendly_register ?

Good post about l

[2015-03-06 15:58] timwood commented on #27
@jdearie @Nneka @alisonjo2786 @jonraedeke Do we care about the privacy of our users (and our own) email addresses? On the 2014 site we didn't expose user email addresses to anonymous or registered user. We had a simple profile page with contact form (which is optional in COD).

[2015-03-06 19:40] Nneka commented on #27
I think we should do the same this year.  Unless you provide a checkbox
that allows users to tell you whether they want their e-mail addresses
shared.  I know I care about my privacy of my e-mail address.

On Fri, Mar 6, 2015 at 10:58 AM, Tim Wood notifications@github.com wrote:

[2015-03-06 21:14] alisonjo315 commented on #27
I agree with Nneka.

Alison Jo McCauley
alisonjo2786@gmail.com
facebook https://www.facebook.com/alison.jo.mccauley | twitter
https://twitter.com/alisonjo2786 | linkedin
http://www.linkedin.com/in/ajmccauley

On Fri, Mar 6, 2015 at 2:40 PM, Nneka notifications@github.com wrote:

[2015-03-06 21:32] timwood commented on #27
Okay. So we won't do what the article I linked to did by making the username the registrants email address. Thanks for the input.

[2015-03-09 01:41] timwood commented on #1
I decided to go with option #2. I used features_override to export and override the og_node_access_strict variable in the cod_events feature.

Now authenticated users can edit their own sessions and bof-sessions.

[2015-03-09 01:41] #1 closed, assigned to Nneka

[2015-03-09 04:38] timwood commented on #27
Logintoboggan and Super Login modules added and automatically enabled via dgc_deploy feature. Super log in module makes login form look like this:
![screen shot 2015-03-09 at 12 32 40 am](https://cloud.githubusercontent.com/assets/91050/6549994/15f94bdc-c5f4-11e4-9483-938208c7c9fa.png)

Logintoboggan provides some nice messaging upon login and when attempting to access a protected resource, when n

[2015-03-09 04:52] timwood opened #28 "Purchase and configure SSL wildcard certificate from DigiCert"
Domain: drupalgovcon.org

[2015-03-09 05:14] timwood commented on #27
Hybridauth is quite a lot more involved than I realized. You need to apply as an application for each provider to get an API key/secret. Decide against it for now.

[2015-03-11 02:42] timwood opened #29 "Configure 2015 event in staging site"
Need:
- [x] Exact event times (8:00am - 4:00pm 7/22 - 7/24)
- [x] FREE Ticket
  - Tickets to the event are free, but Required. Please register to reserve your ticket.
  - 3/17 start date?
  - Total quantity: 1100
  - Min: 1
  - Max: 10
  - Default state: Completed
- [x] Session Tracks (decided at 2/12 meeting)
  - PHP, Javascript, and DevOps
  - Business Intelligence, Case Studies, Non-Profit, and

[2015-03-12 02:36] bendygirl commented on #29
Times, dates, rooms are here for sessions https://docs.google.com/a/buchbinder.org/spreadsheets/d/17bBGonGb0M9AEx3MAaLdn-GfzRfFfUUWqZB71rnwtJI/edit#gid=18

[2015-03-12 02:44] timwood commented on #29
Great, thanks for that!

Should we use last year's session tracks? http://2014.capitalcampandgovdays.com/admin/structure/taxonomy/session_tracks_1
- Code and DevOps
- Drupal Business, Case Studies, Non-Profit and Government
- Configuration, Testing and Site Building
- Design / User Experience
- Security
- Training
- Keynote

[2015-03-12 02:46] bendygirl commented on #29
For ticket types, we can do Gov and non Gov, but I'd rather just do a check box and one ticket type since this is really not necessary since we don't do multiple types

https://docs.google.com/spreadsheets/d/17bBGonGb0M9AEx3MAaLdn-GfzRfFfUUWqZB71rnwtJI/edit#gid=18

ignore the first link use this one.

[2015-03-12 02:48] timwood commented on #29
First link replaced with correct one.

[2015-03-12 02:48] bendygirl commented on #29
For tracks, we mimicked Drupalcon.  https://events.drupal.org/losangeles2015/sessions/proposed But there are a lot more this year.

[2015-03-12 02:57] timwood commented on #29
@bendygirl Do you think there's any reason to do different ticket types? Do we need to keep sponsor tickets to a certain number?

[2015-03-12 02:59] bendygirl commented on #29
Code and DevOps
Drupal Business, Case Studies, Non-Profit and Government (we don't really need this)
Project/Product Management (add this one in)
Configuration and Site Building
Design / User Experience
Testing and Security
Training
Keynote

[2015-03-12 03:00] bendygirl commented on #29
@timwood no, I don't think we actually need different ticket types. Sponsors are only limited in that they need to register everyone. It's the only way we can gage how many lunches to buy or T-shirts to order.

[2015-03-12 03:08] bendygirl commented on #29
Total quantity 1100 total quantity at this time. We expect 800, so that will allow us to have the traditional drop off amount
Min per order - at least 1.
Max per order, no more than 10, that seems reasonable.

[2015-03-12 03:26] bendygirl commented on #29
I wasn't able to do this last year, but a ticket does not have to be related to an individual user. This didn't work well on last year's site. So, when a scheduler or a assistant goes in and needs to book two tickets (or I need to do it for a keynote), the ticket should be sortable by the ticketed attendee not the ticket requester.

[2015-03-12 05:14] timwood opened #30 "Improve default COD registration process"
The registration process and workflow seems convoluted. Are you registering for a Drupal site account or for a ticket to the event? You can register for an account but not for the event. This is confusing. COD tries to do event registration by starting the process from the event page or registration tab with a simple form to select the ticket. If tickets aren't released yet, you cannot use this pr

[2015-03-12 06:33] timwood opened #31 "Tweak tickets registration view to show attendee info instead of or in addition to registrant info"
The default COD list of ticket registrations at /admin/structure/views/view/ticket_registration/edit/default has columns for "Name" and "E-mail" but they are the registrant's info instead of the attendee. This should list attendee info and add a field for the registrant info. If needed, model it off of community view /admin/structure/views/view/cod_community_attendees/edit ?
- [x] Preface "Name" a

[2015-03-12 07:35] timwood commented on #29
Most rooms added, but the whole scheduling process is insanely long! Here's a short video about how to do it. https://www.youtube.com/watch?v=1S7SjMMXOx4

[2015-03-12 07:37] timwood commented on #22
I've added the redirect module and configured one redirect for / to the 2015 event node.

[2015-03-13 00:20] alisonjo315 commented on #22
That sounds awesome.  I'd be happy to help start the hp if there's even
just a very rough mockup to start -- or are we wanting to discuss more
first?
On Mar 12, 2015 3:37 AM, "Tim Wood" notifications@github.com wrote:

[2015-03-13 00:59] timwood commented on #28
Waiting on response to email sent to @jdearie and Kirsten.

[2015-03-13 01:28] bendygirl commented on #29
@timwood the scheduling is long, but the session selection team should be able to handle this fairly easily as long as we know which rooms and times need to be filled with tracks.

[2015-03-13 18:48] timwood opened #32 "Setup Google analytics on new website"

[2015-03-14 00:58] timwood opened #33 "Registration improvements"
- [x] Add message on registration page letting the user know whether they've already registered for tickets.
  - [x] Only show for non-anonymous user.
- [ ] Limit tickets per X period?
- [x] Copy user fields to ticket registration
  - [x] Dietary needs (required)
    - [x] Add "no" option
  - [x] T-Shirt size (required)
    - [x] Small, Large, 2XL
  - [x] First Name
  - [x] Last Name
  - [x] Gover

[2015-03-14 05:50] timwood commented on #22
I started working on this because I was also working on some stuff for the registration page, but got hung up when my features overrides started to make default COD features overridden. ugh!

[2015-03-14 06:35] timwood commented on #22
Okay. Got it to work! The home page (and any other event added later) is now rendered by a panelizer panel. COD came with a default panelizer panel, even though it wasn't enabled, so I left that alone and allowed selection of panelizer panel for conference/event content type and added a new panelizer panel called DGC 2015.

I disabled the output of the event description (body) and dates, but we ca

[2015-03-14 06:39] timwood commented on #33
I added two view content panes to the registration page and home page (both places where the initial tickets form appears). One lists the current, logged in users ticket(s) registered by them and the other lists tickets they've registered with view, edit and cancel links. I think this still needs tweaking.

![image](https://cloud.githubusercontent.com/assets/91050/6650611/5a5de5c8-c9f3-11e4-8992-3

[2015-03-14 16:48] bendygirl commented on #24
http://bit.ly/1GOlWoD is a shortened link to the prospectus

[2015-03-14 17:11] jonraedeke commented on #24
How's this?

![sponsors](https://cloud.githubusercontent.com/assets/2054715/6652624/a26b9b14-ca4b-11e4-9900-df8163a93afc.png)

[2015-03-14 17:12] alisonjo315 commented on #22
Sounds fantastic!
On Mar 14, 2015 2:35 AM, "Tim Wood" notifications@github.com wrote:

[2015-03-14 17:14] timwood commented on #24
Looks great, Jon!

[2015-03-14 17:17] bendygirl commented on #24
nice. There aren't many spots left for sponsoring, so doesn't need to be
above the fold.

On Sat, Mar 14, 2015 at 1:11 PM, Jon Raedeke notifications@github.com
wrote:

##

Kirsten
http://uniongal.blogspot.com
Join Uniongal on Reddit http://www.reddit.com/r/Uniongal/

[2015-03-14 17:50] timwood commented on #24
Done now!

[2015-03-14 17:50] #24 closed, assigned to jonraedeke

[2015-03-14 18:00] timwood opened #34 "Tweak performance of site"
- [x] Tweak/enable drupal performance settings.
- [ ] Any caching for views and other objects.
- [x] Disable devel type modules in production.
- [x] Disable DB log module
- [x] Enable syslog module
- [x] Review acquia site report in Acquia ticket.
  - [x] Add memcache module and configure settings.php for memcache

[2015-03-14 18:13] bendygirl commented on #33
This is a great idea for the folks who have to register more than themselves.

[2015-03-14 19:31] bendygirl opened #35 "Sponsor page tweak"
Tweak the sponsors view to output only logo  that links to sponsor's website/page, grouped by level. Similar to drupalconLA https://events.drupal.org/losangeles2015/sponsors

[2015-03-14 19:41] timwood commented on #22
@jonraedeke is going to add big buttons for tickets and sessions submissions to the home page panelizer via simple link and styling.

[2015-03-14 20:46] timwood commented on #33
At /ticket_registration/manage/1/fields we can copy user fields to be used on the ticket form. The values entered then get transferred to the user object when the account registration is complete.

Fields listed in the task description copied!

[2015-03-14 23:06] timwood commented on #33
I attempted to add a rule to react to ticket creation and send separate email, but was unable to successfully create the rule. Then I realized we already have an email going out to registrants, which was more focused on account creation. So I modified the email for account and ticket.

[2015-03-14 23:06] #33 closed, assigned to nobody

[2015-03-14 23:09] timwood commented on #33
Email language is the following:

Subject:
Your new account at [site:name] and tickets!

Body:
Hi [user:name]. Welcome to [site:name]!

You've been registered for [site:name] and have secured a ticket to the event. You may now log in by clicking this link or copying and pasting it to your browser:
[user:one-time-login-url]

This link can only be used once to log in and will lead you to a page wher

[2015-03-14 23:17] timwood opened #36 "Create Thank you what's next page"
- [x] Set path alias to thankyou
  Add page of content with thank you for getting tickets message and perhaps "what's next" info.
- [x] Thank you for registering for tickets
- [x] Link to page with directions to NIH
- [x] Link to page with hotel info to the local stays
- [x] next steps
- [x] deadlines (updated info as deadlines pass for scholarships, sessions, etc)
- [x] Link to submit session

[2015-03-14 23:19] timwood commented on #36
@jdearie @alisonjo2786 @Nneka @bendygirl can one of you let me know whether this content was already created?

[2015-03-14 23:36] timwood commented on #36
Initial page created: https://capitalcampstg.prod.acquia-sites.com/thankyou

[2015-03-15 01:19] timwood commented on #35
This is now done. @jonraedeke FYI. The sponsors can now be styled.

[2015-03-15 01:45] timwood commented on #32
Google analytics is now setup and configured via drupal module and exported settings.

[2015-03-15 01:45] #32 closed, assigned to nobody

[2015-03-15 01:46] timwood commented on #28
Cert purchased and approved. Need to install in Acquia.

[2015-03-15 02:26] jonraedeke commented on #21
Made some edits to the mockup:
- Add diamond sponsors at top
- Callout previous name of event
- Big ol' ticket button

![screen shot 2015-03-14 at 10 24 04 pm](https://cloud.githubusercontent.com/assets/2054715/6654415/23ad1a16-ca99-11e4-843e-1d4671fce0c4.png)

[2015-03-15 02:54] timwood commented on #21
Looks great. Where will the session submission button go? Or should we fit
that in some other way?
On Mar 14, 2015 10:26 PM, "Jon Raedeke" notifications@github.com wrote:

[2015-03-15 11:59] timwood commented on #25
No response. Closing.

[2015-03-15 11:59] #25 closed, assigned to timwood

[2015-03-15 13:52] timwood opened #37 "Test and install Security Kit module"
http://drupal.org/project/security_review
https://www.drupal.org/project/paranoia ?
- [x] Disable message output.
- [x] Manually enable security_review module and run test. Could not enable via feature install hook.
- [x] Enable and configure Acquia Connector module.
- [x] Review Acquia Insight report
  - [x] Add and enable https://www.drupal.org/project/seckit

[2015-03-15 14:05] timwood opened #38 "Configure and export comment permissions"
COD came with comments only available to administrator.
- [x] Enable view (aka access) comments for anonymous
- [x] Enable post comments, skip comment approval and edit own comment for authenticated user

[2015-03-15 14:13] timwood opened #39 "Style comments"
Comments need a little love.

![image](https://cloud.githubusercontent.com/assets/91050/6656308/e754cc36-cafb-11e4-9a67-902fd6da5243.png)

[2015-03-15 14:13] timwood commented on #38
Configured and exported!

[2015-03-15 14:13] #38 closed, assigned to nobody

[2015-03-15 14:54] timwood commented on #26
Going to use mollom because it comes bundled with COD. Only negative so far is that the list of protected forms config isn't exportable, yet. https://www.drupal.org/node/717874

[2015-03-15 15:24] timwood commented on #26
Manually configured/enabled forms at admin/config/content/mollom.
- News comment form
- BoF session comment form
- Session comment form
- Session node form (Retain the post for manual moderation)
- User contact form
- User registration form (Retain the post for manual moderation)
- User password request form (CAPTCHA-only)

Other settings exported via strongarm, EXCEPT API key settings.

[2015-03-15 15:24] #26 closed, assigned to nobody

[2015-03-15 16:39] bendygirl commented on #36
Okay, so add:
- Thank you for registering for tickets
- directions to NIH
- hotel info to the local stays
- next steps
- deadlines (updated info as deadlines pass for scholarships, sessions, etc)

[2015-03-15 16:42] timwood commented on #36
Anything that is already another page, should be a link, of course.

[2015-03-15 16:43] timwood commented on #36
I added your items and one more to the task at the top. Let me know whether you can see the checkboxes.

[2015-03-15 16:44] ninaogor commented on #36
Got it! Let you know in a second!

On Sun, Mar 15, 2015 at 12:43 PM, Tim Wood notifications@github.com wrote:

##

Nina Ogor
College of Arts and Humanities
University of Maryland-College Park
Senior, Persian Studies and Women's Studies Double Major
puffg9@gmail.com
202-341-1737

[2015-03-15 17:26] timwood commented on #34
When site moved to production enable dgc_deploy_prod feature.

[2015-03-15 17:40] ninaogor commented on #36
I've linked everything. Here are the links I'm using. I'm going to add something on Github for the FAQs page.

http://drupalgovcon.org/faqs (for session)
http://drupalgovcon.org/scholarships (for scholarships)
http://drupalgovcon.org/travel-and-directions (event location)
http://drupalgovcon.org/where-stay (hotels)

[2015-03-15 17:42] ninaogor opened #40 "Add content to FAQ page"

[2015-03-15 17:56] timwood commented on #36
Why does the sessions link go to faq? Shouldn't it go to node/add/session ?

Also, I recommend changing the link text to use the whole second sentence "Click here and submit your idea". So the whole sentence should be the link.

By relative links I meant they should start with no http: so the href would be /drupal-govcon-2015/scholarships Same with the others.

[2015-03-15 17:59] Nneka commented on #31
Fixed this.  Waiting for Tim to view and feature it.

[2015-03-15 18:01] timwood commented on #31
Can you make attendee column link to the user entity like the view used to?

[2015-03-15 18:01] ninaogor commented on #36
Yup, it should. That's my fault. Understood my mom wrong.

got it. I'll change the language and make the whole sentence the link

oh! I see. okay. I'll change the links.

Thanks Tim!

[2015-03-15 18:07] timwood commented on #31
Also, the email column is still the registrant's email, not the attendee.

[2015-03-15 19:26] timwood opened #41 "Remove double (and linked) page title from panelizer panels"
Page has double for some reason. Others need to be checked.

[2015-03-15 19:27] timwood commented on #35
Links to sponsors home page doesn't seem to work.

[2015-03-15 20:19] Nneka commented on #31
Attendee column is linking to the user entity

Fixing the registrants e-mail.  The registrants email isn't saved when entering in a ticket registration.  It seems to be saved as the user name for that registrant.  Still looking...
http://capitalcampdev.prod.acquia-sites.com/ticket_registration/81/edit

[2015-03-15 20:28] timwood commented on #31
Yeah, it's a stub of a user account that is created I believe. Only the email is included, but as the username. You could just show the username?

[2015-03-15 20:44] #15 closed, assigned to timwood

[2015-03-15 20:45] #2 closed, assigned to Nneka

[2015-03-15 20:45] #5 closed, assigned to Nneka

[2015-03-15 20:51] timwood commented on #16
@jdearie The 2014 site is effectively down because decision not to renew domain. I'll create a final site/DB backup when I push up the new site.

[2015-03-15 20:51] #16 closed, assigned to jdearie

[2015-03-16 00:20] bendygirl commented on #40
From old site:

FAQs

Q: What is Drupal?

Drupal is an open source content management system software.  Learn more about Drupal on Drupal.org

Q: Who attends CapitalCamp and Gov Days?

This 3 day Drupal camp is for anyone interested in learning Drupal and connecting with the Drupal community.  There will also be specific content targeted to Drupal for government web solutions.

Q: Do I need to be

[2015-03-16 00:47] timwood commented on #31
@Nneka The view needed another relationship to get at the attendee fields.

[2015-03-16 00:47] #31 closed, assigned to Nneka

[2015-03-16 01:24] timwood commented on #35
When using features overrides on a view it doesn't seem to record the field order, which is why this was broken. To fix, save proper order on live site manually. It will not override the feature!

[2015-03-16 01:24] #35 closed, assigned to timwood

[2015-03-16 02:14] bendygirl opened #42 "BOF"
The BOFs need to be disabled.

I think we should open them after session submissions have ended, or shortly before the event. Should allow users to submit BOF sessions.

[2015-03-16 02:19] timwood commented on #42
I've disabled the menu item. Kirsten says that's good for now.

[2015-03-16 02:19] #42 closed, assigned to nobody

[2015-03-16 03:17] timwood opened #43 "Add first news article so it's not blank"
We need a new item. Welcome news item. Registration open. Something.

[2015-03-16 03:17] jonraedeke commented on #21
Let's replace "Program" with "Submit a Session" until the sessions are picked.

[2015-03-16 03:18] timwood commented on #43
@bendygirl @ninaogor @alisonjo2786 @jdearie @dsheffler Do we have something for this already?

[2015-03-16 03:19] timwood commented on #41
Done!

[2015-03-16 03:19] #41 closed, assigned to nobody

[2015-03-16 03:24] timwood commented on #36
I've updated the thank you page with the changes discussed.

[2015-03-16 03:24] #36 closed, assigned to nobody

[2015-03-16 03:25] jonraedeke opened #44 "Footer"
What needs to be in the footer?
- Brought to you by Drupal4Gov
- Site map?

Here's the one from Drupalcon LA

![screen shot 2015-03-15 at 11 24 34 pm](https://cloud.githubusercontent.com/assets/2054715/6660171/8ae17e1c-cb6a-11e4-88b3-873b0ee30799.png)

[2015-03-16 03:32] timwood commented on #21
@jonraedeke Good idea, only problem is that node/add/session is not allowed by anonymous so it will not display for anon, meaning nor will the sub-items.

If we make it user/login?destination=node/add/session it doesn't show for logged in users!

If we make it user?destination=node/add/session it shows for both anon and authenticated but doesn't redirect to the right page for a logged in user. The

[2015-03-16 03:33] timwood commented on #21
We could have two menu items, one that works for anonymous and one for authenticated, but then we'll either have to repeat the menu sub-items under each or disable/move the sub-items.

[2015-03-16 03:38] timwood commented on #44
No idea. On the old site we just had the COD credit. Maybe for now we don't need anything else?
![image](https://cloud.githubusercontent.com/assets/91050/6660283/5f1830f8-cb6c-11e4-88ca-ed319a7365bf.png)

In case you want to look at the old site here is google cache: http://webcache.googleusercontent.com/search?q=cache:ScsGAzQp4KcJ:2014.capitalcampandgovdays.com/+&cd=1&hl=en&ct=clnk&gl=us

[2015-03-16 03:41] jonraedeke commented on #21
This is kind of dumb, but how about a basic page with instruction about logging in and submitting a session, what to expect etc.

Logged in users would have button on the page to "Submit your awesome session"
Anon users get "Log in to submit a session"

[2015-03-16 04:03] timwood commented on #21
I'm going to add a page as you suggest.

[2015-03-16 04:08] timwood commented on #21
Page created. Some base content added. @jonraedeke Please add image or whatever where I left you a place holder. https://capitalcampstg.prod.acquia-sites.com/drupal-govcon-2015/submit-session

[2015-03-16 04:24] timwood opened #45 "Don't show conference reference on pages (and other node types?)"
- [x] Basic Page
- [ ] ~~Sponsor~~

[2015-03-16 04:53] timwood opened #46 "Set HTTP Strict Transport Security (HSTS) on site"
http://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security

Configure via .htaccess:
`Header set Strict-Transport-Security "max-age=31536000" env=HTTPS`
This will likely cause all Acquia environments to enforce HSTS, which should actually be fine. Looking for a method to conditionally set the header via hostname, unsuccessfully.

OR

Configure via drupal module:
https://www.drupal.org/project/hst

[2015-03-16 05:11] timwood commented on #45
Decided against removing from sponsor for now because sponsors will change year after year.

[2015-03-16 05:11] #45 closed, assigned to timwood

[2015-03-16 06:22] timwood commented on #21
LOOKING GOOD!!!

[2015-03-16 06:27] timwood opened #47 "Move sponsors to block via mini-panel or something"
So we can have the lower sponsors block on every page instead of just the home page.

[2015-03-16 13:56] alisonjo315 commented on #43
We could post what we put on GDO about the prospectus and sponsorship
opportunities?
On Mar 15, 2015 11:18 PM, "Tim Wood" notifications@github.com wrote:

[2015-03-16 13:58] alisonjo315 commented on #44
I think minimal is good.  Maybe like... a link to D.O and maybe to
Twitter/G+/GDO...?
On Mar 15, 2015 11:38 PM, "Tim Wood" notifications@github.com wrote:

[2015-03-16 14:08] timwood opened #48 "Add content and form to Scholarships page"
Info and dates?
https://capitalcampstg.prod.acquia-sites.com/drupal-govcon-2015/scholarships

[2015-03-16 14:10] timwood opened #49 "Add content to "About" page or disable menu & unpublish"
https://capitalcampstg.prod.acquia-sites.com/drupal-govcon-2015/about

[2015-03-16 14:10] timwood opened #50 "Add content to "Code of conduct" page or unpublish & disable menu item"
https://capitalcampstg.prod.acquia-sites.com/drupal-govcon-2015/code-conduct

[2015-03-16 14:11] timwood opened #51 "Add content to "Convince your boss" page or unpublish & disable menu item"
https://capitalcampstg.prod.acquia-sites.com/drupal-govcon-2015/convince-your-boss

[2015-03-16 14:13] timwood opened #52 "Add content to "Social events" page or disable menu & unpublish"
https://capitalcampstg.prod.acquia-sites.com/drupal-govcon-2015/social-events

[2015-03-16 14:16] jdearie opened #53 "Standardize Drupal GovCon References"
I've noticed that we are using a variety of different ways of spelling/stating the conference name.
Places to fix:
- [ ] Facebook name

I thought we were Drupal GovCon, but I'm seeing:

Drupal Gov Con
DrupalGovCon
... and misc other spellings.

The footer is using Drupal GovCon, which is my personal preference.

I'll scan all the online text and make the modifications, but for anyone adding conten

[2015-03-16 14:19] jdearie commented on #44
I have a super basic page up at drupal4gov.us

Think we can link to that, or would you prefer it look nicer before we do?

[2015-03-16 14:23] timwood commented on #44
Oh, cool. Didn't know anyone was working on that. I mean, I vaguely remember you mentioning it Jess. By the way, did you know the domain www.drupalforgov.org is owned by someone and DNS is pointing to and Acquia is configured for in the CapCamp acquia site?

[2015-03-16 14:25] timwood commented on #53
I agree. I thought we decided on Drupal GovCon. I've noticed others use some of the various of the other spellings too. https://www.facebook.com/DrupalGovCon for example, although I'm not sure whether you can make your name have a space where displayed. Let's use this task to make a list of places we notice it wrong.

[2015-03-16 14:30] jdearie opened #54 "Registration Feedback"
I registered for an account this morning...
- [x] we may want to add some text stating that a new account is required even if you've attended previous capitalcamp/gov days before.
- [x] the confirmation email came from tim@buchbinder.org - we should probably change that ;)

~~3 - the confirmation email told me login was the email address i used and the password i set up. however - when i registere

[2015-03-16 14:40] jdearie commented on #54
I used the password reset and it worked fine for setting up my initial password... though if that's the way ppl set up their passwords, we'll need to add some instructional text.

[2015-03-16 14:51] jdearie opened #55 "Profile"
- [ ] ~~If it's not too much work, i would recommend adding some instructional text:~~

OLD:
When I registered for an account, I checked the box for Government Employee.

After logging in and reviewing my profile, Government Employee was not checked and my t-shirt size selection was not saved.

To update my profile, address fields are required.  Is that really what we want to make people do?

[2015-03-16 14:57] jdearie commented on #50
Content posted. Becca and I discussed it and felt that we could just grab from drupalcon, make a few small edits, and post as is.  If anyone has comments or suggestions on modifications, just let us know.

[2015-03-16 14:57] #50 closed, assigned to nobody

[2015-03-16 15:08] jdearie commented on #51
Done.

[2015-03-16 15:08] #51 closed, assigned to nobody

[2015-03-16 15:13] timwood commented on #54
Great idea! How about we add this statement to the "Free Ticket" type description? Can you please provide language and I'll add it.
![image](https://cloud.githubusercontent.com/assets/91050/6668982/ee616792-cbcc-11e4-808d-80ccb16d9da4.png)

Good catch! I've changed the site email to drupal4gov@gmail.com. Let me know if it should be something else.

Password is set after email verification, the one

[2015-03-16 15:18] jdearie commented on #49
Basic about content added.  We can always add more later, but what's there should suffice for launch.

[2015-03-16 15:18] #49 closed, assigned to nobody

[2015-03-16 15:19] timwood commented on #55
Thanks for logging this issue.

I noticed the fact that Govt. employee check, t-shirt size and dietary needs weren't transferring from ticket to user profile sometime this weekend, but didn't do anything about it. :-( It was working before, so not sure what we did to break it. It would be nice if it worked, but at least the values are stored properly with the ticket (I believe), which is the impor

[2015-03-16 15:20] timwood commented on #50
YOU ROCK!

[2015-03-16 15:20] timwood commented on #49
WOOT!

[2015-03-16 15:20] jdearie commented on #40
Current content says "DON'T TOUCH" at the top of the page. Becca had updated/drafted FAQs, can i update the page with her content or are we leaving the FAQ page alone for now?

[2015-03-16 15:20] timwood commented on #51
SWEET!

[2015-03-16 15:23] timwood commented on #40
@bendygirl @ninaogor Should know more about why it says don't touch.

[2015-03-16 15:24] bendygirl commented on #40
yes, update. Nina was scoping it out, but feel free to edit.

K

On Mon, Mar 16, 2015 at 11:20 AM, Jessica Dearie notifications@github.com
wrote:

##

Kirsten
http://uniongal.blogspot.com
Join Uniongal on Reddit http://www.reddit.com/r/Uniongal/

[2015-03-16 15:28] dsheffler commented on #40
Jess, if you add it in, I'm going to work on editing content later this
afternoon so I can make the updates.

On Mon, Mar 16, 2015 at 11:24 AM, Kirsten notifications@github.com wrote:

[2015-03-16 15:31] jdearie commented on #55
Address field is not required as long as you don't select a country.  So it works as you expected to .... just not as I did as a user :)

If it's not too much work, i would recommend adding some instructional text:

"If you do not wish to provide your full location information, please select None from the Country list"

[2015-03-16 15:34] jdearie commented on #40
@bendygirl - the content that Nina has does not match what Becca did.  I've posted Becca's content on google drive in a folder called content drafts. Which one do we want to use?

The FAQs on the site seem to have more content, but the registration instructions need updating.

[2015-03-16 15:41] jdearie commented on #40
ok - i copied what was on the site and created a google doc labeled Nina FAQs. That way we grab any of what she started if we need to.

I updated the page with the FAQs that Becca drafted - but we'll still need to ensure the session tracks are correct and that we have the correct session submission deadline.

@dsheffler is going to review and make edits this afternoon. I'll assume she'll close thi

[2015-03-16 16:32] jonraedeke commented on #23
Changed script font to "Courgette". Much more legible for h2.

[2015-03-16 16:48] jonraedeke opened #56 "Improve 'Attendees' View"
- [x] Configure panel pane in attendees view to use panel path so filters work
- [x] reduce the info output for each attendee. just linked first/last name?
- [x] output the profile image as "medium" image style

OLD:
@timwood or @alisonjo2786
Can you test out the Attendees view at /drupal-govcon-2015/community ?
When I try to filter and click 'Apply', it jumps to event landing page.

Also, could y

[2015-03-16 16:54] jonraedeke commented on #39
Are we accepting comments anywhere currently or only after sessions are approved?
Just gauging priority.

[2015-03-16 16:56] timwood commented on #39
News has open comments and I think it should stay that way. It's open for authenticated users only, not anon.

[2015-03-16 16:57] timwood commented on #39
Also will be open for sessions and bof-sessions.

[2015-03-16 17:41] jdearie commented on #54
How's this:

"Tickets to the event are free, but registration is required. Please register to reserve your ticket. Even if you have attended a Capital Camp or Drupal Government Day event in the past, you will need to register for a new account."

and..

"You will need to set your initial password by going to the login screen and clicking on the Forgot Password? link. You will receive an email with

[2015-03-16 17:42] alisonjo315 commented on #56
I get the same result.  Also, it would be cool if "admin" and "anonymous"
didn't show in the list :-/

I'll add a few more attendees.

[2015-03-16 17:49] timwood commented on #56
Wait, I don't see Admin or Anon in the list as a regular user. Also, what do you mean you'll add more attendees? I only see Alison when I view that page. Shoudn't it list all ticket holders?

[2015-03-16 17:50] jdearie commented on #54
disregard login text. i completely missed it in the original email

[2015-03-16 17:50] timwood commented on #56
OH! It's the "Show on attendees listing page" checkbox. Only alison's ticket has that checked. Must be defaulted to off. WE need to change that, no?

[2015-03-16 17:52] timwood commented on #54
In the registration email template replace the (that you set) with (that you will set after clicking on the link above).

[2015-03-16 17:58] timwood commented on #56
Also, most early registrants didn't fill in first/last name, dietary needs, t-shirt, etc. because these weren't fields on the ticket object then. I think we should ask those folks to go update their ticket.

[2015-03-16 18:02] alisonjo315 commented on #56
The "show on attendee listing" checkbox isn't on the form when I'm a
regular user.

Also, sorry, I thought Jon needed more registrants so I created more
people... I can clean them up, tho, if it's not helpful.

[2015-03-16 18:17] jdearie opened #57 "BoF Sessions Content"
We have some text for a BoF Sessions informational page. Where should we create that?

[2015-03-16 18:18] dsheffler commented on #57
Jess, if you create the page, I'll fit it into the sitemap.

On Mon, Mar 16, 2015 at 2:17 PM, Jessica Dearie notifications@github.com
wrote:

[2015-03-16 18:23] jdearie commented on #57
Thx @dsheffler - It's at: /drupal-govcon-2015/bof-sessions

[2015-03-16 18:25] alisonjo315 commented on #54
Maybe related -- there's no success message when I save my tickets (via "edit" form).

[2015-03-16 18:30] alisonjo315 opened #58 "Show on attendee listing page tweaks"
- [x] "Show on attendee listing page" checkbox not editable by regular users
- [ ] When viewing tickets, "Show on attendee listing page" outputs as "1" (or 0) -- change to "enabled" or "yes" or something.

[2015-03-16 18:32] alisonjo315 commented on #33
"Dietary needs (required) >> Add "no" option" -- I think "None" should be selected by default.  Thoughts?

[2015-03-16 18:37] bendygirl commented on #33
The problem last year were the folks who cried FOUL because there was no
gluten free or halal or kosher, etc.. for them because even though the item
was there and we asked, they didn't complete it. So wherever will work that
makes them do something (select an option), I'm good with anything as
default, as long as they select something including None.

On Mon, Mar 16, 2015 at 2:32 PM, alisonjo2786

[2015-03-16 18:46] timwood commented on #56
Okay. The "show on attendee listing" field functionality is fixed. I changed the permission, default (to checked) and set the field to required by editing it live on the site here: https://capitalcampstg.prod.acquia-sites.com/ticket_registration/manage/1/fields/field_ticket_attendee_listing

[2015-03-16 18:59] timwood opened #59 "Investigate and debug registration issues"
As reported by Danielle, when coming through the one-time login link, if you miss a required field when filling in the form, it comes back and asks you for your current password, which never gets set...

Investigate to try and reproduce.

[2015-03-16 19:08] bendygirl commented on #48
added content. Dates dependent on Sessions as we need to close this after session selection.

The Drupal GovCon Scholarship Program will provide travel funds for this year's Drupal GovCon event (formerly known as Drupal Government Days and Capital Camp).

Attendance at Drupal GovCon will benefit the scholarship recipient with a Drupal GovCon experience and many of the benefits of the larger Drupal

[2015-03-16 19:11] alisonjo315 commented on #33
Ok no, that makes sense -- leave it as-is :)

[2015-03-16 19:12] alisonjo315 commented on #56
Checked by default is fine, but shouldn't make it required -- should allow
ppl not to be "public" or whatever -- or else disable/hide the option
altogether.  (Can't give them an option and then not let them exercise the
option.)

[2015-03-16 19:13] bendygirl commented on #52
Disable menu for now as this will be announced in the future, once contracts have been signed. Should be early May. Keep the issue open for when this will come up, but May 1st as earliest time frame for announcement.

[2015-03-16 19:17] bendygirl commented on #40
perhaps we should include a link to the DrupalCon convince your boss page? https://events.drupal.org/losangeles2015/convince-your-boss

[2015-03-16 19:18] dsheffler commented on #40
It's already there in the sitemap :)

On Mon, Mar 16, 2015 at 3:17 PM, Kirsten notifications@github.com wrote:

[2015-03-16 19:19] bendygirl commented on #40
duh, it totally is!

[2015-03-16 19:26] dsheffler opened #60 "Add Content to Trainings Page"
We will need to add content to the trainings page that includes information about the companies as well as the links to Eventbrite. This is not currently ready to add, but we should have a page for the site to include this information in addition to adding the trainings to the schedule that includes the actual sessions, BOFs, etc.

[2015-03-16 19:32] dsheffler opened #61 "Add Volunteer content and form to the site"
Could we please add the form (and text that we used last year) to the site, so that we can start getting volunteer requests early?

[2015-03-16 19:33] timwood commented on #56
Ack! Right you are. With a single on/off checkbox required doesn't work. I've made it not required.

[2015-03-16 19:35] dsheffler commented on #57
This has been added to the sitemap.

[2015-03-16 19:35] #57 closed, assigned to nobody

[2015-03-16 19:36] dsheffler commented on #48
I added the content, but we should keep this open since we will want to include the webform on this page.

[2015-03-16 19:37] dsheffler commented on #40
This content has been added and reviewed. Closing.

[2015-03-16 19:37] #40 closed, assigned to nobody

[2015-03-16 19:37] bendygirl commented on #48
agreed, this should stay open until scholarships go live.

[2015-03-16 19:41] dsheffler opened #62 "Create the Meet the Drupal GovCon team page"
We need to create the Meet the Drupal GovCon team page. This page will include the pictures and names, in alphabetical order, of everyone on the organizing committee. Clicking on the picture or name will take the user to an individual profile.

This means that everyone needs to fill out their profile!!!

After site code update:
- [x] Override default panelizer panel for the [DGC team page](https:/

[2015-03-16 19:53] dsheffler opened #63 "Content Editor - Issue with Adding Content"
I have the content editor permission and when trying to add a new basic page, I get the following error: "You must choose one or more groups." The only issue is that I don't have access to see anything on the page called groups. I'm also not able to save the content.

[2015-03-16 19:55] timwood commented on #62
I'd like to create the list of team members as a view, probably using a Flag to securely identify users who are organizers. What fields from the user profile would we like to see on this page and what should it look like? Got any examples from other places online?

[2015-03-16 20:00] bendygirl commented on #63
checked and the content editor does not have permission to add a new basic page. For our editors, this is probably useful.

[2015-03-16 20:01] timwood commented on #63
Thanks for testing @dsheffler, it really helps that we can identify these issues because there are so few of us working on the site before today and we mostly used admin role or didn't test adding new content like pages. I've added you to the node/1 organic group. I'll add other content editors too.

[2015-03-16 20:02] timwood commented on #63
@bendygirl Content Editor role has this permission, which allows them to do this:

[2015-03-16 20:04] bendygirl commented on #63
Thanks @timwood Tim

[2015-03-16 20:09] timwood commented on #48
Webform on the page will require that we enable webform for the Page content type. Should be a minor development task/COD override.

[2015-03-16 20:11] timwood opened #64 "Add link to main menu to manage conference admin interface"
Drupal tabs are being removed / styled away from home page, so we need an easy way to get to the conference administration. A menu item should be permission aware and only show to those that have access.

[2015-03-16 20:44] bendygirl commented on #62
https://portland2013.drupal.org/team.html
http://denver2012.drupal.org/volunteers (I like that it goes to your D.O. profile)
Bad camp "credits" https://2014.badcamp.net/credits

[2015-03-16 21:02] timwood opened #65 "Entity reference autocomplete fields aren't rendering right and don't work?"
From node/add/session speakers field.
![image](https://cloud.githubusercontent.com/assets/91050/6676434/2bf47c1c-cbfe-11e4-8663-74817192d4c2.png)

[2015-03-16 21:11] bendygirl opened #66 "Session Submission - Dev testing"
Before we submit an Awesome session, we should make sure you can submit a session and that the session shows up somewhere. I can't perform the steps on Dev. On staging, there seems to be a bug for the autofill, might relate to: "Select the method used to collect autocomplete suggestions. Note that Contains can cause performance issues on sites with thousands of nodes."

We could switch to "starts

[2015-03-16 21:24] bendygirl commented on #66
I was able to add tim and me (me twice?) to the session as speakers, but in Firefox, you can't see who you are adding.

[2015-03-16 21:40] bendygirl commented on #65
it's working everywhere else, just not on session submission.

[2015-03-16 21:41] bendygirl commented on #65
also, you can add the name, but you can't see it, it's all the way right and it will show you 1 to 2 letters.

[2015-03-16 21:47] jonraedeke commented on #65
Sorry, fixed. These form elements are hard to style. I might need to fine-tune, but now you can at least see what you are doing.

[2015-03-16 21:47] #65 closed, assigned to jonraedeke

[2015-03-16 21:55] jonraedeke commented on #56
If anyone is already editing this view, can they output the profile image as "medium" image style? I'm currently stretching them.

Also, can we reduce the info output below. Maybe just linked first/last name? I would need to the make them very tall to accommodate all the info in case of long titles and orgs.

[2015-03-16 23:28] timwood commented on #63
So I've been unable to resolve this issue. If any new page content needs to be created it will have to be done as an admin. For some reason the conference field is "broken" for non-admins for the basic page, news and sponsor content types. Nothing I've tried in changing organic groups reference field has resolved the issue. Meanwhile the other instances of the same field on bof-session, session an

[2015-03-16 23:32] timwood commented on #66
See #65 for the speakers field issue.

[2015-03-16 23:34] timwood commented on #58
The second item is not that important before launch. Punting.

[2015-03-17 00:03] alisonjo315 commented on #56
Agreed on trimming info shown as Jon described.

[2015-03-17 00:04] alisonjo315 commented on #58
Okay.

[2015-03-17 00:20] timwood commented on #43
@jdearie Started a page here: https://capitalcampstg.prod.acquia-sites.com/drupal-govcon-2015/news/welcome

Feel free to add to it anyone.

[2015-03-17 00:21] timwood commented on #28
Cert installed in Acquia prod environment.

[2015-03-17 00:21] #28 closed, assigned to timwood

[2015-03-17 00:31] timwood commented on #27
Going to close this and worry about registering via FB, Twitter, Google, etc. next year.

[2015-03-17 00:31] #27 closed, assigned to timwood

[2015-03-17 00:40] timwood commented on #64
Added menu item "Manage Conference" to admin/conference/1. Moved Add CTYPE links under "Submit a Session" main menu item. All should be hidden/shown properly by permissions.

[2015-03-17 00:40] #64 closed, assigned to nobody

[2015-03-17 01:47] timwood commented on #56
Done!

[2015-03-17 02:11] timwood commented on #59
@dsheffler I've confirmed this "bug" with the registration process. ~~I'm not sure whether this is a show stopper. If the user fills in all the required fields, including if they select a country in address, filling out the full address required fields, they will not have a problem.~~

Just kidding. If you select country and even if you fill in all required fields, it still throws a validation err

[2015-03-17 02:12] sutch commented on #54
I would expect that the Ticket Registrant is the same as the (recipient of the) Free Ticket.  I suggest the following improvements, ordered by my priority:
- [ ] Rename second section from Free Ticket to Free Ticket Recipient.
- [ ] Add language to top of first section, something like: "Provide information about yourself, the person submitting this registration."
- [ ] Add language to top of secon

[2015-03-17 02:16] timwood commented on #54
@sutch Great suggestions! can you please log these ideas as a new issue and tie to "Post launch" milestone? Also, it would be helpful if you could research how to override the ticket registration form screen you are referring to. I'm sure there is some drupal hook we can use, but I don't know what it is or how to override what is there right now.

[2015-03-17 02:20] sutch commented on #54
In the initial email, the following line should be changed from:

to:

[2015-03-17 02:22] timwood commented on #54
@sutch Already fixed. See task description above. We used something a little longer to be even more explicit.

For the language on the ticket page for free ticket I modified it to be:

[2015-03-17 02:28] sutch opened #67 "Improve Register form language"
URL: /ticket/register
- [ ] Rename second section from Free Ticket to Free Ticket Recipient.
- [ ] Add language to top of first section, something like: "Provide information about yourself, the person submitting this registration."
- [ ] Add language to top of second section, something like: "Provide information about the ticket recipient."

[2015-03-17 02:30] sutch commented on #54
@timwood Were the previous username/password lines removed?

[2015-03-17 02:33] sutch opened #68 "Enhance Register form functionality to reduce data entry"
URL: /ticket/register

Default the second section of the form to use values entered in first section. Possibly use a checkbox or button to trigger the copying of the values. Use language like: "[ ] Check this box if you are the ticket recipient to use information entered above."

[2015-03-17 02:37] timwood opened #69 "Something covering forms when validation fails"
I cannot click into any form fields when I submit a form and validation fails (missing required field). Happens on user edit page when registering (maybe on regular edit too) when you erase last name field for example. Encountered in Chrome on Mac.

[2015-03-17 02:37] timwood commented on #69
@jonraedeke Seems urgent to me.

[2015-03-17 02:40] timwood commented on #67
It's possible to register for a ticket for someone else. So the first "free ticket" section is not necessarily for the person submitting the registration. Try logging in and registering for another ticket, for someone else.

[2015-03-17 02:41] timwood commented on #54
What I meant was I just fixed it, pushed up the change, but didn't revert the feature, yet. So you didn't see it when you tried earlier and you still won't see it. But it's in there, available soon.

[2015-03-17 02:42] timwood commented on #68
I feel like COD did this when I was first testing it, but I will need to check on a fresh, clean COD install.

[2015-03-17 02:43] timwood commented on #59
This issue does NOT happen if a different field doesn't validate such as required field "Last Name". I'm removing the address field now.

[2015-03-17 02:55] sutch commented on #54
I verified my email address and set a password, but "forgot" to record my password. When I went through the process of requesting an email to reset my password, I still had to enter my current password to reset my password. I believe this was because I was logged in. The only way I could reset my password was to logout and request another password reset.

[2015-03-17 03:00] timwood commented on #59
No issues with password when validation errors are thrown due to other required fields being left blank. I've removed the address field.

[2015-03-17 03:02] timwood commented on #54
Perchance did you fill in the address field along the way at some point? https://github.com/Drupal4Gov/Drupal-GovCon-2015/issues/59

[2015-03-17 03:04] timwood commented on #55
Cancelling this as we had to remove the address field. See https://github.com/Drupal4Gov/Drupal-GovCon-2015/issues/59

[2015-03-17 03:04] #55 closed, assigned to timwood

[2015-03-17 03:06] bendygirl commented on #59
Address field wouldn't be necessary. It's not statistics we use and we don't sell a full list, just names and emails. So no need for addresses at all.

Sent from my iPhone

[2015-03-17 03:14] sutch commented on #54
Unsure about the steps.  I am able to replicate (see below).

This may be an issue with COD, rather than an issue specific to our instance.
1. Login
2. Go to the Edit page
3. Forget password and click the _Request new password_ link under the Current password field
   4 Follow instructions and receive the replacement login information email message
4. Use the link found in the email message
5. Cli

[2015-03-17 03:20] timwood commented on #66
I'm able to submit a session without issue on staging. Please reopen if you still encounter this issue.I'm able to submit a session without issue on staging. Please reopen if you still encounter this issue.

[2015-03-17 03:20] #66 closed, assigned to nobody

[2015-03-17 03:22] timwood opened #70 "Add note somewhere about attendee list being sold"
@bendygirl @dsheffler @jdearie Do we have any language for this? If not, please provide. I think it should go into the "Free ticket" description which is shown on the initial ticket/register screen.

[2015-03-17 03:22] timwood commented on #59
Thanks! Closing. Speaking of which, we were going to add a note to the registration form about selling the list...https://github.com/Drupal4Gov/Drupal-GovCon-2015/issues/70

[2015-03-17 03:22] #59 closed, assigned to nobody

[2015-03-17 04:06] bendygirl commented on #59
I thought we were going to add that to privacy statement with an opt out on reg? Not sure how far we ever got on how to do that. I remember discussing, but not sure we decided how to do it.

Sent from my iPhone

[2015-03-17 12:03] jonraedeke commented on #69
I'm not able to replicate the issue.

I registered for one ticket and filled out the form for a new user, leaving the last name blank. The form did not validate and showed the warning. I was able to type in the fields and re-submit. Chrome and mac.

Is this still happening for you? Maybe the site was hung up loading?

[2015-03-17 12:47] sutch commented on #67
@timwood Yes, and this change is about clearly identifying each section to make it clear that the first section is for the person performing the registration and that the second section (and third, fourth, etc) are for the person receiving a ticket.

[2015-03-17 12:49] sutch commented on #68
The checkbox for using the registering person's information should only be usable on one ticket (recipient) section.

[2015-03-17 13:07] jdearie commented on #62
I like having pictures!

[2015-03-17 13:46] jdearie opened #71 "Sponsor logo hyperlinks broken"
All of the logos for sponsors link to:

https://www.drupalgovcon.org/%5Bfield_sponsor_url%5D

[2015-03-17 14:22] jamiebeemac commented on #62
## I prefer the Badcamp format.

Brad

[2015-03-17 14:46] jonraedeke commented on #39
Committed to develop branch.

![comment_style](https://cloud.githubusercontent.com/assets/2054715/6689788/d0202324-cc92-11e4-8b95-beca044930db.png)

[2015-03-17 14:46] #39 closed, assigned to jonraedeke

[2015-03-17 14:50] jonraedeke commented on #56
My bad, we need to make an image style that is square and assign it to the Attendees view. Let's do 160x160px.

[2015-03-17 16:29] timwood commented on #62
Since we aren't ready with content or functionality, I've unpublished the static basic page node.

[2015-03-17 16:31] timwood opened #72 "Add and enable back to top module"
On mobile it's a long way to scroll back up on some pages. Adding this module makes the mobile experience better and can help on desktop too.

[2015-03-17 17:09] cmndr-king commented on #54
I am putting the site through its paces on an iPad and was able to register without a problem.  However, I didn't see the information about scholarships. Someone mentioned that there are drop down menus but those do not appear on the iPad so can we make sure that all options show up on the default page for each menu option?

[2015-03-17 17:20] cmndr-king commented on #54
Can we replicate the Site Map in the footer? That would help give access points to the various pieces of our site.

[2015-03-17 17:23] jonraedeke commented on #54
We should probably add a menu block showing the second level links on main
menu pages with children for people on a touch device that is larger than
the mobile breakpoint.

On Tue, Mar 17, 2015 at 1:20 PM, cmndr-king notifications@github.com
wrote:

[2015-03-18 11:46] cmndr-king commented on #54
Tim - this is focused on registration so I'm not sure if I can broaden this thread.  I'd love to see if we can provide the option of a personal schedule for attendees.  One, I think it would be helpful to be able to go through our breakouts and mark the ones we're most interested in.  However, more importantly for me, I'd like to use that data to see how popular a session is before the event so th

[2015-03-18 11:47] timwood opened #73 "Add counts to the top/bottom of the tickets view"

[2015-03-18 11:47] timwood commented on #69
Let's close for now.

[2015-03-18 11:47] #69 closed, assigned to jonraedeke

[2015-03-18 11:50] jdearie commented on #54
There is a My Sessions tab in the user profile. I think users can add a session to their profile to generate that list...

![image](https://cloud.githubusercontent.com/assets/5174534/6708062/6802515c-cd43-11e4-8695-43d3d9081bda.png)

[2015-03-18 11:58] timwood commented on #54
@jdearie Yup, you are right. @cmndr-king Users add sessions to their schedule via a Flag. I haven't seen it in action yet and don't know where it appears, but we can test that.

As for gauging interest from individuals schedules, that will depend on enough users making their schedule, which may not happen. We can make sure the feature works well and promote it. We'll also need to check whether the

[2015-03-18 12:11] timwood commented on #71
Fixed yesterday. This has to do with the fact that we've overridden the sponsors view, added a field, reconfigured field rewrites and reordered fields. When the features are reset the view loses field order and needs to be reordered.

[2015-03-18 12:11] #71 closed, assigned to nobody

[2015-03-18 12:26] cmndr-king commented on #54
Thanks!  I’ll poke around and test it out.

-James

---

James King, MLS, FSLA

http://about.me/cmndr_king

From: Tim Wood [mailto:notifications@github.com]
Sent: Wednesday, March 18, 2015 7:58 AM
To: Drupal4Gov/Drupal-GovCon-2015
Cc: King, James (NIH/OD/ORS) [E]
Subject: Re: [Drupal-GovCon-2015] Registration Feedback (#54)

@jdeariehttps://github.com/jdearie Yup, you are right. @cmndr-kinghttps:/

[2015-03-18 12:49] timwood commented on #54
@jonraedeke Would it be possible to adjust the animation speed in the CSS to accommidate tablets as suggested here: https://www.drupal.org/node/2293041#comment-8923771

[2015-03-18 12:52] timwood commented on #70
@bendygirl Also mentioned we decided this should be in the privacy policy and there should be a checkbox to opt out on registration. Should we add this now that registrations have already started?

[2015-03-18 12:54] bendygirl commented on #70
Not sure that's actually what we decided.

I can work on the privacy policy today. But we would need an opt out
button. But I was out during December and I thought you all might have
discussed it then. I was thinking someone mentioned opt in. So, I'm not
positive I'm right on this. Did we ever come to a decision on this one?

On Wed, Mar 18, 2015 at 8:52 AM, Tim Wood notifications@github.com wrote

[2015-03-18 13:01] dsheffler commented on #70
For Canspam laws, we have to provide an opt out or an opt in. If we don't
want people to hate us, I would suggest an opt-in.

On Wed, Mar 18, 2015 at 8:54 AM, Kirsten notifications@github.com wrote:

[2015-03-18 13:37] timwood commented on #70
The Canspam laws would apply to the mailing list solution. Mailchimp provides this for the list we are managing now and whichever company buys the list will likely use a solution that provides similar functionality. So it's not a requirement in that way. Can one of you send this to the broader list via email as a decision point by X deadline?

[2015-03-18 13:38] bendygirl commented on #70
Good idea Tim. Will do that now.

On Wed, Mar 18, 2015 at 9:37 AM, Tim Wood notifications@github.com wrote:

##

Kirsten
http://uniongal.blogspot.com
Join Uniongal on Reddit http://www.reddit.com/r/Uniongal/

[2015-03-18 13:43] dsheffler commented on #70
Could we please not continue making design by committee decisions? We
decided to make smaller committees so we would avoid having too many people
weighing in. Can the three of us just decide this, please?

On Wed, Mar 18, 2015 at 9:38 AM, Kirsten notifications@github.com wrote:

[2015-03-18 13:49] bendygirl commented on #70
I don't think I'd have been on that committee. I was just noting i remember
this discussed.

Perhaps the web team?

I still think a decision was made, I am not sure we even need to make
another one.

I asked Nina, she remembers we made a decision on this too, just don't
remember when. So, I am not crazy. Either we ask, or look through the
meting notes until we find it. I feel like it was this fall

[2015-03-18 14:15] timwood commented on #70
There is a note at the top of this meeting notes from September (search for opt-out). https://docs.google.com/a/buchbinder.org/document/d/1-91sR3XP3KwHuvGYs1HThfAeck0jZQyfsMzG4gjKt9Q/edit

Right above that is also this comment to help figure out how much food to buy. We also did not implement this. Is it possible there are other website suggestions that got lost in meeting notes?

[2015-03-18 16:48] timwood opened #74 "Fix mismatched SSL certificate on bare/TL domain"
Because of the way DNS and Acquia hosting works our SSL certificate does not apply to the bare / top-level domain, drupalgovcon.org. We need to research and decide on a service to make this work so users that go to https://drupalgovcon.org/ aren't presented with the mismatch warning in their browser and forced to accept the certificate warning to proceed. We don't need/want to host any content und

[2015-03-19 21:29] dsheffler commented on #61
Our event would not be able to run smoothly without members of the community such as yourself. Thank you for your interest in volunteering! We have many different volunteer needs, so please fill out the form below with your basic information and volunteer interests. We will provide you with more information a month before the event with your volunteer assignment(s).

The form fields are below:
1.

[2015-03-19 21:31] dsheffler commented on #61
Github changed my numbering around so please ignore that. Also, comments is supposed to be its own field and not under Other, please specify.

[2015-03-19 21:40] dsheffler commented on #48
Please see the form here: https://docs.google.com/forms/d/1XssEnWeP2ZlEPK-vSW-OvES5a8RAAD20KJwNktbQa7U/viewform

[2015-03-19 22:02] dsheffler commented on #43
This has been created on the live site.

[2015-03-19 22:02] #43 closed, assigned to nobody

[2015-03-19 22:24] dsheffler opened #75 "Create Contact Us page"
Please create a contact us page similar to what is on the Drupalcon LA site: https://events.drupal.org/losangeles2015/contact

Our inquiries dropdown should include General Questions, Scholarships, Sessions, Sponsorships, and Volunteering

[2015-03-19 22:43] sutch commented on #74
Some progress.  To continue, probably need to begin testing with an actual SSL certificate.

Step 1: S3 bucket endpoint: http://drupalgovcon.s3-website-us-west-2.amazonaws.com

Step 2: DNS rule in Route 53: drupalgovcon.org A ALIAS s3-website-us-east-1.amazonaws.com. (z3aqbstgfyjstf)

Step 3: TODO: Create DNS record on Route 53 for www.drupalgovcon.org

Step 4: TODO: At domain registrar's site, ch

[2015-03-19 23:43] timwood commented on #61
I fixed the formatting of your comment.

[2015-03-20 01:42] jdearie commented on #23
in support of the github cleanup, let's create a new issue for future requirements.

[2015-03-20 01:43] jdearie commented on #53
Pretty sure I got all of them.

[2015-03-20 01:43] #53 closed, assigned to nobody

[2015-03-20 01:52] #23 closed, assigned to nobody

[2015-03-20 02:08] jonraedeke commented on #21
This thread is a little scattered, so I'll open smaller tasks when new elements are added to the homepage, like twitter feed, session icons etc.

[2015-03-20 02:08] #21 closed, assigned to nobody

[2015-03-20 02:58] timwood commented on #48
Thanks for the scholarship Gdocs form link. Looks like this was built for the 2015 event, but we still want to move it to the website? I know you've said this before Danielle, just confused by 2015 info in the form.

[2015-03-20 03:33] timwood commented on #74
@sutch Do we really need to change the nameservers to point elsewhere? I thought it would just be a simple https host which provides a server at a static IP we can point the bare domain A record at, install the SSL cert and configure a redirect to www.

[2015-03-20 03:33] timwood commented on #53
I see some in the Gdocs scholarship form, which I'm converting into a webform on the website, so I'll fix those when I convert.

[2015-03-20 03:37] timwood commented on #54
@jonraedeke Can you make a separate issue for the unfinished issue identified by @cmndr-king so we can close this?

[2015-03-20 03:43] timwood opened #76 "Add form builder module and enable "basic page" ctype to be webform"
- [x] Add form builder module to repo, test and enable
- [x] Modify basic page ctype to enable webform capability

Related/dependent issues:
- https://github.com/Drupal4Gov/Drupal-GovCon-2015/issues/48
- https://github.com/Drupal4Gov/Drupal-GovCon-2015/issues/61

[2015-03-20 03:44] timwood commented on #29
Let's move the last two checkboxes to separate tasks since they are much more involved and come much later, which I didn't understand when I created the list.

[2015-03-20 03:44] #29 closed, assigned to timwood

[2015-03-20 03:46] timwood commented on #7
@jdearie bueller, bueller, bueller

[2015-03-20 03:46] timwood commented on #18
@alisonjo2786 Want to look into this?

[2015-03-20 03:47] timwood commented on #18
Marking for 2016, unless Alison wants to look into it.

[2015-03-20 03:49] timwood commented on #30
Moving last item to it's own issue.

[2015-03-20 03:49] #30 closed, assigned to timwood

[2015-03-20 03:49] dsheffler commented on #48
This GDoc was created since we didn't know when scholarships would be going
out. So no worries on the confusion but yes, please create this form in the
website. :)

On Thu, Mar 19, 2015 at 10:58 PM, Tim Wood notifications@github.com wrote:

[2015-03-20 03:51] timwood opened #77 "Obfuscate username for those that do not change from email address"
The default username is email address when registering. This is printed out on the user page and possibly other places. We need a module or something to obfuscate (or hide?) these so email addresses aren't harvested from the site.

Should we offer an option on profile page to hid it?
What modules provide this functionality for not just input filter?

[2015-03-20 03:54] timwood commented on #44
James King also suggested repeating the main menu in the footer, which isn't such a bad idea.

[2015-03-20 03:58] timwood commented on #46
Attempts at configuring via .htaccess failed, likely do to Acquia hosting architecture/caching layer. Need to contact Acquia support or just use module.

[2015-03-20 04:04] jonraedeke opened #78 "Make second tier of main menu visible on wide touch devices"
The switch from menu button to horizontal menu with hover drop-downs occurs at 44em(704px). Many touch devices are wider. They can't hover to see second level.

Options
- Show the drop-down on touch briefly before going to destination to give users a chance to tap on another item
- Show drop-down on first tap and require another tap to go to location
- Use modernizr to test for touch and use the m

[2015-03-20 04:06] timwood commented on #47
@bendygirl @jdearie How important do you feel it is to have sponsors listed/presented on every page of the site? DrupalConLA has their two Diamond sponsors at top of every page and only platinum sponsors at the bottom of every page. All other levels only appear on the dedicated Sponsors page. We have less sponsors and less levels.

We plan on moving the Diamonds sponsors to a dedicated part at the

[2015-03-20 04:06] alisonjo315 commented on #18
2016 works for me :)

[2015-03-20 04:08] jonraedeke commented on #54
Moving concern about second tier menu items on wide touch devices to a separate task.
https://github.com/Drupal4Gov/Drupal-GovCon-2015/issues/78

[2015-03-20 04:08] #54 closed, assigned to timwood

[2015-03-20 04:10] timwood commented on #60
Set to April 30th deadline. If that's too late, I can set to March 30.

[2015-03-20 04:11] timwood commented on #63
Punting to ? Doesn't affect session or bof-session, so only really affects event planners.

[2015-03-20 04:14] jonraedeke commented on #56
Fixed.

[2015-03-20 04:14] #56 closed, assigned to timwood

[2015-03-20 04:21] jonraedeke opened #79 "Update COD to 7.x-1.0-beta8"
Panopoly has good documentation on the steps for upgrading a Drupal distro.
https://www.drupal.org/node/2272177
1. drush dl cod
2. drush up drupal
3. drush cc all
4. drush fra -y

[2015-03-20 04:23] timwood opened #80 "Test default COD program page/section functionality"
New:
Test accepting sessions and scheduling them into rooms/times so we can see what the default COD output is.

Previous: Test implications of opening permissions to the program.
Investigate implications of doing this.

https://www.drupalgovcon.org/drupal-govcon-2015/program
Is not currently accessible by anonymous, only authenticated user. Not sure why. Sessions can still be viewed by anonymous

[2015-03-20 04:25] timwood opened #81 "Set sessions to automatically be published, display in list and engageable"
- [x] Change default published setting in ctype to published
- [x] Investigate and possibly modify COD session view(s)
  - [x] Proposed session list vs. accepted vs. ?
  - [x] Contextually filter session view by session track term name
  - [x] Make session rows output purdy
  - [x] Search by title or keyword (views combined filter or search?)
- [x] Ensure comments are open by default and allowed b

[2015-03-20 04:25] timwood commented on #81
@dsheffler Do we also need to look into user voting on sessions? I think COD comes with something OOTB for this. Not sure whether it's intended for participants or only for planners/schedulers.

[2015-03-20 04:33] timwood commented on #79
Oh poop.

[2015-03-20 04:33] timwood commented on #63
I wonder if the issue we encountered here is related to https://www.drupal.org/node/2357459

[2015-03-20 04:44] timwood commented on #34
punting last task to when we encounter performance issues.

[2015-03-20 04:44] #34 closed, assigned to timwood

[2015-03-20 10:38] bendygirl commented on #47
Diamond and platinum should have awesome placement. Gold and silver should be on a sponsor page.

Sent from my iPhone

[2015-03-20 10:41] bendygirl commented on #63
Work around is admin access.

As long as we aren't making config changes in production, this seems fine for a work around

Sent from my iPhone

[2015-03-20 11:33] jdearie commented on #75
I created the webform and added it to the main menu... but it doesn't show up unless I'm logged in.

Did I miss a step?

https://www.drupalgovcon.org/drupal-govcon-2015/contact-us

[2015-03-20 11:44] jdearie commented on #75
Never mind - figured it out.  I moved Contact Us menu item to be listed before Manage Conference and it magically appears. Email notifications of submissions go to drupal4gov@gmail.com

[2015-03-20 11:44] #75 closed, assigned to jdearie

[2015-03-20 12:33] timwood commented on #75
I tweaked the form to include defaults for first and last name using tokens from user profile. [current-user:field_profile_first] [current-user:field_profile_last]

[2015-03-20 12:40] timwood commented on #81
Someone overrode the feature on the production website to publish sessions automatically. Repeat and export feature override. Feature: cod_session

[2015-03-20 12:41] timwood opened #82 "Export overrides for feature: cod_wysiwyg"
Added anchor button to the ckeditor profile. Need to add to a feature as an override.

[2015-03-20 12:42] timwood opened #83 "Why is feature cod_wysiwyg overridden?"

[2015-03-20 12:45] timwood opened #84 "Why is feature cod_news overridden?"
This looks like it's the submissions array that was changed. Maybe published status or promote or revisions.

[2015-03-20 12:54] timwood opened #85 "Why are features cod_bof and cod_bof_pages overridden?"
Looks like another submission array change and view mode weight change or something.

[2015-03-20 13:14] dsheffler commented on #44
From a UX/IA perspective, having the main menu in the footer gives the user more options for navigation, which is never a bad thing.

Sent from my iPhone

[2015-03-21 02:23] timwood commented on #82
Exported and committed overrides to dgc_deploy feature.

[2015-03-21 02:23] #82 closed, assigned to timwood

[2015-03-21 02:24] timwood commented on #83
See https://github.com/Drupal4Gov/Drupal-GovCon-2015/issues/82

[2015-03-21 02:24] #83 closed, assigned to timwood

[2015-03-21 02:43] timwood commented on #85
Fixed.

[2015-03-21 02:43] #85 closed, assigned to timwood

[2015-03-21 02:46] timwood commented on #84
Fixed.

[2015-03-21 02:46] #84 closed, assigned to timwood

[2015-03-21 02:58] timwood commented on #68
Punting this to next year, unless someone else can get to it.

[2015-03-21 03:14] timwood commented on #73
In code. Deploying to prod site soon, hopefully. Should be super helpful @bendygirl

[2015-03-21 03:14] #73 closed, assigned to timwood

[2015-03-21 03:33] timwood commented on #81
Comments wasn't being output by the session panel included with COD.

[2015-03-21 04:34] timwood commented on #73
For some reason deploying these changes via exported feature overrides of the ticket_registration view would not work. Our feature would not features-revert. I had to implement the changes in the view live on the site and then out feature showed as being in the default state.

[2015-03-22 16:12] sutch commented on #74
Possible options. I will continue to update as I research and learn more.
- Amazon Web Services
  - Complex (still unsure how this will work and unsure of the actual cost). Requires Amazon to host nameservers, S3 bucket, Cloudfront, Route 53, Key Management Service. (S3: $0.004 per 10,000 GET requests, Key Management Service: http://aws.amazon.com/kms/pricing/)
- GoDaddy
  - May use any plan if SS

[2015-03-22 16:45] timwood commented on #74
Let's also look into wwwizer. They offer a $9.95/month plan for 100GB/month data transfer. Since we would only be serving 301 redirect that should be plenty. https://control.wwwizer.com/plans

[2015-03-22 16:59] sutch commented on #74
I had looked at wwwizer and determined that it only offered the redirect for non-SSL sites.  After reading additional information, it appears that their paid service does in fact offer redirects for SSL sites.  This solution should work and is the easiest and least costly of the options found.

[2015-03-27 19:21] timwood commented on #81
Kirsten says she'll do this piece.

[2015-03-27 23:54] timwood commented on #79
Working on a patch as a result of this update to contribute here: https://www.drupal.org/node/2458819

[2015-03-28 00:55] timwood commented on #79
Upgrade is now done in Git. I'm testing on acquia dev environment with fresh copy of prod DB/files now.

[2015-03-28 01:01] timwood commented on #79
Looks good! Now to move onto more important stuff... @jonraedeke Let me know if you run into trouble in your environment.

[2015-03-28 01:01] #79 closed, assigned to timwood

[2015-03-28 01:16] timwood opened #86 "Community view is broken after COD beta8 update"
/admin/structure/views/view/cod_community_attendees/edit
Error is:
`SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'ESCAPE '\\') )))) subquery' at line 4`

[2015-03-28 01:28] timwood commented on #86
Cloning the view does not help.

Removing "Ticket registration: State (= )" filter causes error to change.

When viewing the query in views preview it looks really weird. Some parts of the query got cut off.

[code]

SHOULD look like this:

[code]

[2015-03-28 23:46] Nneka commented on #61
Read the comments in the issue referenced above-->  [Issue #76](https://github.com/Drupal4Gov/Drupal-GovCon-2015/issues/76)  to get an idea of what change is needed.

Seems as if you'd rather have the ability to attach a webform to a node entity than using the Webform functionality.  Did a little research and found a few modules:

Entityforms
Flexiforms

Will test these two to see how they work.

[2015-03-28 23:48] dsheffler commented on #61
I'm just used to being able to create a basic page and add a webform as a block, so it's using both. Not sure if COD has that functionality.

[2015-03-28 23:56] timwood commented on #61
@Nneka Out of the box, Webform can be enabled on any content type. My idea in issue #76 is to enable webform on the page content type, export that change as a feature override in one of our two dgc_ features and as a bonus add on the https://www.drupal.org/project/form_builder module to make building the forms awesome.

@dsheffler I'm not sure what you mean adding a webform as a block. As in the D

[2015-03-29 00:02] dsheffler commented on #61
@timwood, yes. I'm used to being able to check the "use webform as a block" and attach it to any page. I'm not saying that's how it works in COD. :) I just wanted to give an example of how I was thinking the page would look/act.

[2015-03-29 00:04] timwood commented on #61
The main reason I think we should use the page content type is that it's OG (and therefore event) aware where the webform content type is not. Just seems like the right thing to do with COD, but maybe I'm wrong.

[2015-03-29 00:27] timwood commented on #86
I was able to export the working, slightly modified view from COD beta7 from the production environment, import as a new view and then modify the panel to use this view pane instead of the COD one. At least until the issue gets resolved.

[2015-03-29 00:27] #86 closed, assigned to nobody

[2015-03-29 01:06] Nneka commented on #61
@timwood  Gotcha!  So going forward, Webforms will be created using the Page content type.  Makes sense to me especially since OG isn't aware of Webforms.  Did you look here to determine that?  (http://capitalcampstg.prod.acquia-sites.com/admin/config/group/permissions/node/event -- making sure I understand).

Going to feature override adding the webform to the page CT and see what form_builder ha

[2015-03-29 01:07] Nneka commented on #61
Doing this on my local dev first...

[2015-03-29 02:21] timwood commented on #61
The Webform content type is automatically created by the webform module and COD doesn't do anything to change it, so it doesn't have an organic groups field attached to it, like almost all the other content types in COD. You can enable webform for the page content type at /admin/structure/types/manage/page (last vertical tab "Webform").

[2015-03-29 05:24] timwood commented on #81
@jonraedeke Please have a look at the view I've made and make it purdy. You can see it in a local copy or the Acquia dev environment at http://HOSTNAME/drupal-govcon-2015/sessions (you need to change the status of some sessions to "Proposed" or "Accepted". If accepted append /accepted to the view. The view is grouped by session track and filterable by that with the last argument. Eg. http://HOSTNA

[2015-03-29 16:20] timwood commented on #46
I enabled the seckit module and the HSTS setting. Will be available on production on next release.

[2015-03-29 16:20] #46 closed, assigned to timwood

[2015-03-29 16:22] timwood commented on #37
Per #46 I've included and the security kit (seckit) module, but I did not understand the CSP settings nor could I get it configured properly in my local environment. Perhaps @sutch would like to look into this and explain? Documentation about this seems lacking with regard to this Drupal module.

[2015-03-29 16:52] timwood commented on #62
What does everyone think about using the community attendees card styling for the "Meet the team" page? Here's a screenshot of what I've built so far:

![image](https://cloud.githubusercontent.com/assets/91050/6886642/63245f2c-d612-11e4-919c-29a67d703cda.png)

[2015-03-29 16:58] bendygirl commented on #62
I like it.

On Sun, Mar 29, 2015 at 12:52 PM, Tim Wood notifications@github.com wrote:

##

Kirsten
http://uniongal.blogspot.com
Join Uniongal on Reddit http://www.reddit.com/r/Uniongal/

[2015-03-29 17:30] timwood commented on #62
Maybe @jonraedeke can distinguish the same style slightly on this page (red star background) so it differs a little from the community page.

[2015-03-29 17:42] dsheffler commented on #81
@timwood, the session track descriptions are as follows:

Code and DevOps
This track is focused on developers and the back-end technologies to deal with today’s and future challenges. With the coming release of Drupal 8, as well as emerging Web technologies, preparation is essential. These sessions will help you learn how to deliver effective solutions to meet these needs.

Business and Strategy
T

[2015-03-29 17:48] timwood commented on #62
And/or perhaps we can make them a little taller to include position and organization like screenshot below. I know @jonraedeke wanted to avoid this on the community page, but maybe it would work here?

![screen shot 2015-03-29 at 1 45 51 pm](https://cloud.githubusercontent.com/assets/91050/6886853/4b862d70-d61a-11e4-8ab9-2fef5376a20c.png)

[2015-03-29 18:03] dsheffler commented on #62
This is really, really nice. I'm assuming it might be difficult to have fields by role in COD? I only ask because it would be great to be able to list our roles/what committees we're on. But I'm also not trying to complicate things at all. Just a question...I promise!

[2015-03-29 18:15] timwood commented on #62
I've just pushed up the code for this. I decided to leave out the position and organization information until Jon chimes in. I also corrected the sort to be alpha by last name. There is a new flag which applies to the ticket registration object, not the user, so we can have different sets of organizers across events. So an organizer has to obtain a ticket for the associated event, fill in their us

[2015-03-29 18:54] timwood commented on #44
I've added the default main menu block to the footer and set all the top level menu items with sub-items to show expanded. It ends up looking like the screenshot below (desktop and then mobie). If everyone is okay with it, I'll commit an update hook to enable this block on the live site.

![screen shot 2015-03-29 at 2 42 06 pm](https://cloud.githubusercontent.com/assets/91050/6887106/9af6d398-d622

[2015-03-29 18:56] timwood commented on #81
Thanks @dsheffler Karl for getting the session track descriptions written. I've added these to the live site. For now they appear on session pages to the right, under the track title.
![screen shot 2015-03-29 at 2 52 57 pm](https://cloud.githubusercontent.com/assets/91050/6887125/8b35b3c4-d623-11e4-9fb2-12859161bd78.png)

And there is a taxonomy page for each, which we may replace/redirect elsewhe

[2015-03-29 19:07] dsheffler commented on #44
Could we update the styling so it looks like the Drupalcon LA site? It's just cleaner and easier to read.

[2015-03-29 19:09] timwood commented on #44
Will leave that up to @jonraedeke

[2015-03-29 19:40] timwood commented on #62
I've improved on the organizers flag idea by adding "Organizer" below name on the Community attendee list which links to the "meet the Drupal GovCon team" page. On the DGC team page, it doesn't display "Organizer" below the name because everyone on that page is an organizer.
![image](https://cloud.githubusercontent.com/assets/91050/6887323/c36fd610-d629-11e4-9a4a-ca6783f5d63f.png)

@jonraedeke In

[2015-03-29 20:05] timwood commented on #62
You can now see this live in action in the development environment in Acquia.
http://capitalcampdev.prod.acquia-sites.com/drupal-govcon-2015/meet-drupal-govcon-team

http://capitalcampdev.prod.acquia-sites.com/drupal-govcon-2015/community

[2015-03-29 21:13] timwood commented on #81
The session tracks now appear above the new session view.

[2015-03-30 01:47] Nneka commented on #61
@dsheffler After a user fills out the volunteer form, what will the confirmation message say?

[2015-03-30 02:32] timwood commented on #76
Thanks for taking care of this one, @Nneka!

[2015-03-30 02:32] #76 closed, assigned to Nneka

[2015-03-30 03:34] timwood commented on #62
@Drupal4Gov/members Please let me know whether I missed anyone in the planning team that is registered on the site. Screenshot below is from the live, production site.

![screen shot 2015-03-29 at 11 34 05 pm](https://cloud.githubusercontent.com/assets/91050/6889796/2529a25e-d66c-11e4-9549-ba5783d9eff4.png)

[2015-03-30 03:34] #62 closed, assigned to nobody

[2015-03-30 03:38] timwood commented on #62
I realized I missed Meagen Williams, Dave Stoline and Annie Stone. I found Annie in the ticket list, but not Dave or Meagen. We'll have to let them know to register so we can add them as organizers.

[2015-03-30 10:24] jonraedeke commented on #81
Thanks @timwood! I got a start on styling. I haven't added the icons yet, but those will go on the left of each track link. Heads up, you'll need to pull and revert dgc_deploy since I added a few classes to the view.

Sent from my iPhone

[2015-03-30 11:35] dsheffler commented on #61
@Nneka, I think something like this would work best: Thank you for your interest in volunteering at Drupal GovCon. Our volunteer team will reach out to you in the coming months regarding assignments.

[2015-03-30 15:21] timwood commented on #81
Looks awesome so far, Jon. What do you have planned for the session description? Can we do the roll-over idea by adding the description to the attached view? Or do you have some other idea?

[2015-03-30 19:20] Nneka commented on #61
Volunteering page has been created.
Check it out....
https://www.drupalgovcon.org/drupal-govcon-2015/volunteering

Currently all fields except Comments is mandatory.  Also wondering if I can find phone number validation.

[2015-03-31 00:37] timwood commented on #61
Looks good to me.

[2015-03-31 01:46] Nneka commented on #48
Will have this form created by tomorrow.
Attaching the form to this page -->  https://www.drupalgovcon.org/drupal-govcon-2015/scholarships

[2015-03-31 01:51] bendygirl commented on #48
We finalized the lines of the scholarship form last week. The personal statement should be no longer than 2000 characters (hopefully no more than 500 words).

[2015-03-31 01:52] Nneka commented on #61
Form has been created and is published.

https://www.drupalgovcon.org/drupal-govcon-2015/volunteering

[2015-03-31 01:54] bendygirl commented on #48
@Nneka and for these questions:

My employer is not paying for any expenses related to DrupalGovCon *

I am not a member of the DrupalGovCon planning committee. *

We don't need "True or False" answers, we just need to know they aren't part of the committee and if they're full self funded or not.

[2015-03-31 01:55] Nneka commented on #61
Next question is.. how will users get to the volunteer page?  Where will this link from?

[2015-03-31 02:31] dsheffler commented on #61
@Nneka, could we please place it under the Community dropdown? Thanks!

[2015-03-31 02:35] dsheffler commented on #81
Is it ok to disable the Proposed Sessions menu item until the styling is done for that page? Without proper spacing and theming, it's honestly a bit difficult to read.

Edit: I've disabled the menu item. We can add back in once @jonraedeke has had a chance to style the page.

[2015-03-31 11:20] jdearie commented on #61
I added the page to the Community drop down menu this morning -  we'll send out some messaging today as well.

[2015-03-31 11:20] #61 closed, assigned to Nneka

[2015-03-31 16:41] dsheffler commented on #81
Just an FYI that the page I'm referring to is https://www.drupalgovcon.org/drupal-govcon-2015/sessions.

[2015-03-31 16:46] timwood commented on #81
I'm for leaving up the menu item. I think the page is more useful than no page.

[2015-03-31 18:57] sutch opened #87 "Implement gravatar integration"
Allow users to specify a URL to their gravatar.  Possible solution: https://www.drupal.org/project/gravatar

[2015-03-31 20:05] Nneka commented on #48
Form has been created.

@bendygirl Unable to limit the amount of characters that users can enter in the personal statement text area.  Didn't find an option to allow me to limit the text.  Only occurs on the textfield control.  I did add text saying limit responses to 500 words or less.

Added one radio button for the not a member of the Drupalgovcon and expense questions..

Question.. Once the fo

[2015-03-31 20:05] Nneka commented on #48
https://www.drupalgovcon.org/drupal-govcon-2015/scholarships

[2015-03-31 20:21] dsheffler commented on #48
@Nneka, this looks great! It looks like my text about the scholarship form being available at the end of April is still on there. Are you ok with me going in to edit the page or would you rather take care of it?

Also, could we make the radio buttons checkboxes? I thought it was an either/or when I took a look.

[2015-03-31 20:55] bendygirl commented on #48
@Nneka Thanks Nneka!! Looks great.

 My employer is not paying for any expenses related to DrupalGovCon

That question above, I think that it is not necessarily helpful. I think when we decided it, we were looking to just find out if the person planning to come is getting any funds from their employer. I feel like maybe it will discourage people from applying if the employer is funding some of it

[2015-04-01 01:50] Nneka commented on #48
@dsheffler  Feel free to edit.  You'd do a better job than I.  Changed the radio buttons to checkboxes.

@bendygirl Hhmm...  The purpose of this question is to weed out potential attendees who have most of their conference costs paid?

Employer has contributed to DrupalGovCon expenses
Employer has paid 50% of DrupalGovCon expenses..
All expenses to attend DrupalGovCon have been paid by me

_shrug_

[2015-04-01 02:35] bendygirl commented on #48
Yeah, I recall talking about wanting to know if they were getting anything. But now I'm not sure it's necessary.

Sent from my iPhone

[2015-04-01 10:17] cmndr-king commented on #48
Sorry for the delay.  My goal with this question is to prevent double-dipping.  I don’t want someone to apply who is being fully funded by their employer and trying to get funds from us to simply pocket.  The goal is to ensure that we filter out those who are not in need.  It doesn’t have to be complex and can be covered in the narrative.

What if we simply eliminate this check box and change the

[2015-04-01 10:30] cmndr-king commented on #48
Hope you don't mind but I took a crack at editing the opening text.  I added in my suggestion and also cleaned up the flow of the text.  Feel free to change if you don't like it.

[2015-04-01 13:24] timwood opened #88 "Require speaker field on session"
Changed in production site to prevent any other sessions submitted without speaker. Need to export change to features.

/admin/structure/types/manage/session/fields/field_speakers

[2015-04-01 13:41] jdearie commented on #7
Need to get the list from @bendygirl
There are 135 names in the list now, but i believe those are ppl that signed up directly on the drupalgovcon.org site.

[2015-04-01 13:49] bendygirl commented on #7
they signed up when we had the splash page up.

On Wed, Apr 1, 2015 at 9:41 AM, Jessica Dearie notifications@github.com
wrote:

##

Kirsten
http://uniongal.blogspot.com
Join Uniongal on Reddit http://www.reddit.com/r/Uniongal/

[2015-04-01 13:55] timwood commented on #7
@bendygirl do you have the list of users we provided to the coffee sponsor last year? That would be a source of good email accounts without too many spam.

[2015-04-01 13:58] bendygirl commented on #7
I'll look for it.

On Wed, Apr 1, 2015 at 9:55 AM, Tim Wood notifications@github.com wrote:

##

Kirsten
http://uniongal.blogspot.com
Join Uniongal on Reddit http://www.reddit.com/r/Uniongal/

[2015-04-01 14:19] timwood commented on #88
Done!

[2015-04-01 14:19] #88 closed, assigned to timwood

[2015-04-01 14:28] dsheffler commented on #48
@cmndr-king, the text looks great!

@Nneka, the instructional text underneath some of the fields on the webform has DrupalGovCon has one word when it should be Drupal GovCon. I didn't want to change anything in case it was part of a feature.

[2015-04-01 14:33] timwood commented on #48
@dsheffler Forms are not featurized. I've made the corrections.

[2015-04-01 14:38] timwood opened #89 "Set session default value for status to 'Proposed'"
It's currently the COD default of "Unprocessed".

[2015-04-01 14:46] timwood commented on #89
Done!

[2015-04-01 14:46] #89 closed, assigned to timwood

[2015-04-01 14:56] timwood commented on #81
I've pushed up @jonraedeke 's initial styling for the sessions section and re-enabled the Proposed Sessions link in the main menu. https://www.drupalgovcon.org/drupal-govcon-2015/sessions

FYI, when sessions close and we have changed sessions to "Accepted" status we can change the main menu link to point to https://www.drupalgovcon.org/drupal-govcon-2015/sessions/accepted.

[2015-04-01 15:03] timwood commented on #81
@jonraedeke Noticed one bug. If you filter away all results in the sessions view, the no results text shows but is up by the track filter buttons, actually under it. Can you fix this when you work on it next?

![image](https://cloud.githubusercontent.com/assets/91050/6943857/a9521b62-d85e-11e4-895c-1b7a5e0439d6.png)

[2015-04-02 03:29] jonraedeke commented on #81
Just pushed the styling that includes the session track icons. @timwood I also fixed the empty view result styling bug.

![screen shot 2015-04-01 at 11 19 47 pm](https://cloud.githubusercontent.com/assets/2054715/6957185/f4b96430-d8c6-11e4-90b6-d4c789d5a3c3.png)

[2015-04-02 03:38] jonraedeke commented on #22
@timwood I decided to style the Diamond sponsors in a big beveled box full width above the News on the homepage and show only the other sponsors at the bottom. I might still change my mind and put it up to the right of the date.

![screen shot 2015-04-01 at 11 15 35 pm](https://cloud.githubusercontent.com/assets/2054715/6957350/ba8262de-d8c7-11e4-97ba-92593181fbde.png)

[2015-04-02 03:44] alisonjo315 commented on #22
​Pretty!​

[2015-04-02 12:33] jonraedeke commented on #22
I do think I will move it up to the right after we get more content on the homepage. This takes up a lot of real estate. Good enough for now.

[2015-04-02 12:34] charlieartist commented on #81
Thanks, Jon. What color will the speaker track be? These look good so far, as well as pop is concerned.

[2015-04-02 12:39] timwood commented on #22
Looks great, Jon. I like the logos centered too.

In addition to session tracks, we are still missing Featured keynote (Dries' photo) and subscribe for updates box. I think these would be the next two most important things, after the session tracks. Thanks for working on this last night!

[2015-04-02 12:41] jonraedeke commented on #81
@charlieartist Here's png icons for reference (the site used svg). For the buttons on hover and active, the icons will be on white, so they will pop even more.

![building](https://cloud.githubusercontent.com/assets/2054715/6964092/0d63eaa8-d914-11e4-8ee4-f0339f48a4c4.png)
![business](https://cloud.githubusercontent.com/assets/2054715/6964095/0d663808-d914-11e4-9db8-542739da4ba5.png)
![devops](htt

[2015-04-02 12:45] jonraedeke commented on #81
@timwood If you have time, can you fix the attached view for selecting session track so it doesn't output an empty div for 'none'. If not, I can try to style away the space it creates at the top of the list.

[2015-04-02 14:21] timwood commented on #22
@jonraedeke Can you also apply the same styling treatment to the sponsors page view?

[2015-04-02 15:33] timwood commented on #81
Something caused the breadcrumbs to get all screwy. I don't see anything obvious changes to the view in the git commits. HEre is a screenshot of what I'm seeing locally.

![image](https://cloud.githubusercontent.com/assets/91050/6967252/25c0608c-d92c-11e4-8cb1-caf69d26483c.png)

[2015-04-02 16:22] timwood commented on #81
I cannot reproduce the breadcrumb issue in Acquia dev environment on the latest develop branch. Even after copying DB from prod. Not going to worry about it for now.

[2015-04-02 16:32] timwood commented on #22
I was able to add the bevel class to the sponsors page view to style it a little. Doesn't highlight diamond over others on the page in anyway. Couldn't figure out how to make the views grouping use an H2 tag for the grouped field output. Changing the style/field of the grouped field in the field list did not help.

[2015-04-02 16:44] jonraedeke commented on #22
Cool, thx

Would you like it to?

@timwood No worries, I can just style the H3. That's what I did on the home page.

[2015-04-02 16:53] timwood commented on #81
@jonraedeke Enabling the "hide if empty" setting under no results behavior for the session track field removed the empty nested divs inside the first row result, but didn't get rid of the entire row. With the contents of the first row div gone the extra space seems to be gone too. I still don't understand why it's showing that empty row to begin with.

![image](https://cloud.githubusercontent.com/

[2015-04-02 16:59] jonraedeke commented on #81
@timwood Thanks! I think it's fine.

[2015-04-02 17:09] timwood commented on #62
@jonraedeke @onelittlebecca's name is too long and "Organizer" is dropping outside the profile card on the community page. Can you make it one row longer?
![image](https://cloud.githubusercontent.com/assets/91050/6969025/7d701608-d939-11e4-8f40-1d1ff73ecaef.png)

[2015-04-02 17:10] timwood commented on #22
I guess it doesn't have to highlight Diamond any differently on the sponsors page.

[2015-04-02 18:24] onelittlebecca commented on #62
easy fix, i can delete the hyphenated part and roll with goodman. heh :-)

On Thu, Apr 2, 2015 at 1:09 PM, Tim Wood notifications@github.com wrote:

[2015-04-02 18:27] jonraedeke commented on #62
@timwood @onelittlebecca I'm sure we'll run into this with others. I'll make it taller.

[2015-04-02 18:29] onelittlebecca commented on #62
oh! ok. then i will put it back :-)

On Thu, Apr 2, 2015 at 2:27 PM, Jon Raedeke notifications@github.com
wrote:

[2015-04-02 21:05] jonraedeke commented on #62
Committed styling for longer name + Organizer title.

[2015-04-02 21:06] jonraedeke commented on #22
@timwood I committed styling for the sponsor level h3 headings.

[2015-04-07 12:18] jdearie commented on #7
I've imported last year's names into the Drupal GovCon list.  I also created some groups within the list (attendee,  volunteer, speaker, organizer).  The groups should allow us to send more targeted messages.

[2015-04-07 12:18] #7 closed, assigned to nobody

[2015-04-07 13:14] timwood commented on #7
Awesome!

On Tue, Apr 7, 2015 at 8:18 AM, Jessica Dearie notifications@github.com
wrote:

[2015-04-10 13:44] dsheffler opened #90 "Unable to edit track after submitting session"
We received an email that someone was unable to edit the track for the session they submitted. I went to go in to edit the track, and I was missing the functionality as well. I am an admin. We should at least allow administrators to alter the tracks for the session, since we may need to make adjustments during session selection too.

[2015-04-10 15:57] alisonjo315 opened #91 "dgc_sessions view, body field"
enable "field can contain HTML" (or "strip HTML tags") -- note the open `<strong>` on this page :)

https://www.drupalgovcon.org/drupal-govcon-2015/sessions?search=&field_experience_value=All&page=2

[2015-04-10 16:01] alisonjo315 opened #92 "dgc_sessions view, sorting"
Currently there's no sorting set -- but we have "group by session track," so, need to sort first by session track then maybe by date or NID or alpha-title or something (IMO, anyway -- i think the way it's grouping now is awkward).
https://www.drupalgovcon.org/drupal-govcon-2015/sessions

[2015-04-10 18:59] jdearie commented on #90
It appears that the edit mode doesn't include a track field at all.... it's not there to be able to modify.

[2015-04-10 20:00] alisonjo315 commented on #90
I'm looking into it.

In the meantime are there any sessions' session tracks you need edited sooner than later?  If so, please send links. ( @jdearie @dsheffler )

[2015-04-10 21:00] timwood commented on #90
I see a session track field on a few sessions I tested editing. I was testing as Drupal super admin. Wonder why you weren't able to see the field @jdearie. Maybe group membership issue.

[2015-04-10 21:02] timwood commented on #90
![screenshot_2015-04-10-16-58-22](https://cloud.githubusercontent.com/assets/91050/7097405/4d479fbc-dfa3-11e4-8140-977f0193c2ae.png)

![screenshot_2015-04-10-16-58-35](https://cloud.githubusercontent.com/assets/91050/7097398/39da2152-dfa3-11e4-8ce6-d1e97d2ebb56.png)

[2015-04-10 21:10] dsheffler commented on #90
It seems that only Super Admins have the ability to edit tracks.

Sent from my iPhone

[2015-04-10 21:12] timwood commented on #92
Agreed about awkwardness of the sort. Sorry for missing this when I built it. Personally, I think we should probably just get rid of pagination.

[2015-04-10 21:16] alisonjo315 commented on #90
Indeed -- only user 1 can edit this field, not even the rest of admin users.  I was just checking to see if any other fields are affected like this, just hadn't updated the issue yet, sorry.

[2015-04-10 21:17] alisonjo315 commented on #92
Okay, but that would be in addition to changing the sort -- feel free to modify the issue.

[2015-04-10 21:45] dsheffler commented on #90
@alisonjo2786, we need to edit https://www.drupalgovcon.org/drupal-govcon-2015/sessions/extending-your-agencys-reach-drupal-extranet to be in the Business and Strategy track. I can't tell right now if it is or not! The other one is https://www.drupalgovcon.org/drupal-govcon-2015/sessions/drupal-7-taxonomies-and-faceted-search-api-0. It should be listed in Site Building. Thanks!

[2015-04-10 21:46] alisonjo315 commented on #90
It's got to be something with OG -- the session track field is an entity reference field that targets an OG vocab (the machine name is og_vocabulary, no field_, so it must have come with COD or the OG vocab module or something like that).

Furthermore, we all know OG effs up your perms for no reason every chance it gets.

Still digging, just sharing.

[2015-04-10 21:53] alisonjo315 commented on #90
@dsheffler Done!  Those two sessions actually had _no_ track selected.

(At first I was like, what the WHAT?! why isn't that a required field?! but then I thought, that actually makes sense -- I can see someone being like, "I'm not really sure, maybe I'm also new, so I'll let you put it where you want it.")

[2015-04-12 15:16] timwood commented on #92
The grouping already does the sort by session track when there is no pagination. With no other sort defined Drupal defaults to post date I believe, which I think is a reasonable sort choice.

[2015-04-12 15:17] timwood commented on #91
Thanks, done!

[2015-04-12 15:17] #91 closed, assigned to nobody

[2015-04-12 15:23] timwood commented on #92
Pagination removed from view. Jon has made it looks good and not too long by laying out in a grid.
![image](https://cloud.githubusercontent.com/assets/91050/7106142/46bef834-e106-11e4-974a-82486b3150f0.png)

[2015-04-12 15:23] #92 closed, assigned to nobody

[2015-04-12 15:29] timwood commented on #90
I noticed another without a track. https://www.drupalgovcon.org/drupal-govcon-2015/sessions/paraphrasing-panels-panelizer-and-panopoly/edit

I added it to Site Building.

[2015-04-12 15:38] timwood commented on #90
Turns out we have quite a few (35+) without a selected session track. Now I'm wondering whether we should require this field...

[2015-04-12 15:56] timwood commented on #90
Tried adding "Session organizer" role to regular user. No luck.

[2015-04-12 16:15] timwood commented on #90
Adding a regular user as a member to the organic group for the event enabled them to edit the session track field.  So the solution is to add all admins as members in the OG. This can be done at https://www.drupalgovcon.org/group/node/1/admin/people/add-user. I've added everyone that was a site Admin to the group.

[2015-04-12 16:15] #90 closed, assigned to alisonjo315

[2015-04-12 16:16] timwood commented on #90
As for the original session author being able to change their own session track, I guess for now that cannot be done.

[2015-04-12 16:31] timwood commented on #90
So with 35+ sessions without a track, what does everyone think about requiring the session track field? This can be done at https://www.drupalgovcon.org/admin/structure/taxonomy/session_tracks_1/edit under "Node - Session".

[2015-04-12 16:31] #81 closed, assigned to timwood

[2015-04-12 16:32] timwood commented on #78
@jonraedeke Any interest in working on this?

[2015-04-12 16:40] timwood commented on #90
Or can be done at https://www.drupalgovcon.org/admin/structure/types/manage/session/fields/og_vocabulary

[2015-04-12 16:44] timwood commented on #72
Module added and enabled via update hook in deploy module/feature.

[2015-04-12 16:44] #72 closed, assigned to nobody

[2015-04-12 16:45] timwood commented on #48
Looks like this is done. Closing.

[2015-04-12 16:45] #48 closed, assigned to bendygirl

[2015-04-12 16:53] timwood commented on #47
I think we've decided we don't need sponsors on every page.

[2015-04-12 16:53] #47 closed, assigned to nobody

[2015-04-12 16:56] timwood commented on #60
@dsheffler I wasn't on the call Friday, is there enough info to add content to the training page and publish it yet? https://www.drupalgovcon.org/drupal-govcon-2015/trainings

[2015-04-12 16:57] timwood commented on #37
Closing for now. Reopen or open a new one if work on CSP settings happens.

[2015-04-12 16:57] #37 closed, assigned to timwood

[2015-04-12 17:24] timwood commented on #22
@jonraedeke If you have time, bump for session tracks and Featured keynote (Dries' photo) on home page.

[2015-04-12 17:26] timwood commented on #22
I tried dropping the session track attachment view onto the home page panel, which worked okay, but I didn't want to leave it w/out your input and plus the bottom sponsors box did weird things (overlaying on top of all other objects) when the session tracks view was right above it in the pane order.

![image](https://cloud.githubusercontent.com/assets/91050/7106671/8bdf1190-e117-11e4-9070-a1dd1bf6

[2015-04-12 19:13] jonraedeke commented on #78
Yep, still working on this one. Thanks for checking.

Sent from my iPhone

[2015-04-12 19:18] jonraedeke commented on #22
Tim, that will be a perfect way to add the tracks. Just do it in dev and I will fix the style bugs and probably display side by side.

Sent from my iPhone

[2015-04-12 19:30] timwood commented on #22
Side by side sounds good. Maybe just large icons with title shown on hover?
On Apr 12, 2015 3:18 PM, "Jon Raedeke" notifications@github.com wrote:

[2015-04-12 20:32] alisonjo315 commented on #90
I shared my opinion on that already, but I don't feel strongly either way,
so whatevs :)

(I'd go with whatever's less annoying for us -- dealing with "non-tracked"
sessions, or dealing with "poorly-tracked" sessions -- right now it seems
like non-tracked is more annoying, but if ppl do a poor job putting their
sessions in tracks, would we allow ourselves to just move them, or would we
want to con

[2015-04-12 20:54] dsheffler commented on #90
We need sessions in tracks for session selection. I think it's easiest for us to choose.

Sent from my iPhone

[2015-04-12 21:49] timwood commented on #90
Okay. We'll leave it as a not required field and let site admins categorize sessions that are submitted without track.

[2015-04-12 22:03] dsheffler commented on #90
Could we have it as both and not have it affect the past submissions? I'd
like to make it easier on us if possible to not have to pick categories for
the future ones.

---

Working to find a cure for blood cancers. Donate and save a life! -
http://pages.teamintraining.org/nca/yourway15/dsheffler

On Sun, Apr 12, 2015 at 5:49 PM, Tim Wood notifications@github.com wrote:

[2015-04-12 23:18] timwood commented on #90
If we set it as a required field now, it will affect any future session submissions as well as any sessions without a track selected. Meaning those session owners will probably not be able to edit their sessions until we (an admin) can add a session track to them.

[2015-04-13 00:57] timwood commented on #22
So I decided to try placing the Sessions attachment view in the "top right" panel region and moving the news list to the "left content" panel region. The result is pretty decent, except that the breakpoint which causes the sessions pane to jump above the news is too late. I looked at other panel layout options, including the Omega page and content options, but couldn't decide on one that would wor

[2015-04-13 01:02] timwood commented on #22
Just wanted to add this screenshot from issue https://github.com/Drupal4Gov/Drupal-GovCon-2015/issues/21#issuecomment-80802180 for reference here:
![screen shot 2015-03-14 at 10 24 04 pm](https://cloud.githubusercontent.com/assets/2054715/6654415/23ad1a16-ca99-11e4-843e-1d4671fce0c4.png)

[2015-04-13 01:31] timwood commented on #74
Once we have implemented a solution for this issue we should also submit our domain to https://hstspreload.appspot.com/

[2015-04-13 01:33] dsheffler commented on #90
I thought Kirsten was taking care of that soon, which is why I suggested
it. Hopefully not too many people are editing their sessions for it to be
causing an issue.

---

Working to find a cure for blood cancers. Donate and save a life! -
http://pages.teamintraining.org/nca/yourway15/dsheffler

On Sun, Apr 12, 2015 at 7:18 PM, Tim Wood notifications@github.com wrote:

[2015-04-13 11:38] alisonjo315 commented on #90
Danielle what do you mean "have it as both"?

[2015-04-13 11:46] dsheffler commented on #90
Meaning that the field is required for future submissions and that users can't edit their previous submissions until there is a track assigned to them. It sounds like this might be a non-issue since Kirsten already edited the submissions.

Sent from my iPhone

[2015-04-13 11:50] alisonjo315 commented on #90
Ok. I don't understand, why does it matter if users edit their submissions
before their sessions have a track assigned to them?  (Yes Kirsten finished
all but a handful yesterday.)

[2015-04-13 11:52] timwood commented on #90
@alisonjo2786 I think the worry about users editing their submissions if there was no track previously selected is that they wouldn't be able to edit the node once we require a field, which they cannot change.

[2015-04-13 12:05] timwood commented on #90
Since all previously submitted sessions are now categorized (thanks @bendygirl!), I've set the session track field to required. I tested submitting a session as a regular user and also editing it afterward. All works, except as we already knew, I cannot change the session track due to weird OG permissions.

[2015-04-17 15:55] cmndr-king opened #93 "IE9 gives a blank home page"
I know it is an old version but when hitting the default URL, it redirects to the event URL but only shows a blank page.  Is it difficult to get this fixed?

[2015-04-17 16:12] timwood commented on #93
Hey James. Thanks for recording this in Github. We've been discussing over email this morning and I've just disabled a feature of another module which has allowed the home page to render in IE9 correctly again. We'll need to do additional debugging for a more permanent fix.

[2015-04-24 02:22] jonraedeke commented on #78
Here's the solution I came up with:
Detect touch events with Modernizr and repurpose the mobile menu for touch devices. Committed the styling and Modernizr module, enabled with dgc_deploy.

[2015-04-24 02:22] jonraedeke commented on #78
![screen shot 2015-04-22 at 11 02 32 pm](https://cloud.githubusercontent.com/assets/2054715/7311220/398932d8-ea07-11e4-8a10-9bf0f9f183c8.png)

![touch_menu](https://cloud.githubusercontent.com/assets/2054715/7311226/44633e60-ea07-11e4-9a0e-f8a45adaee64.png)

[2015-04-24 02:23] #78 closed, assigned to jonraedeke

[2015-04-24 02:46] jonraedeke commented on #44
Committed some basic styling.

![footer_menu](https://cloud.githubusercontent.com/assets/2054715/7311447/80f9d822-ea0a-11e4-8d88-54b5fd0a7bf3.png)

[2015-04-24 02:46] #44 closed, assigned to nobody

[2015-04-24 18:47] timwood opened #94 "Enable session voting for attendees?"
Also see https://github.com/Drupal4Gov/Drupal-GovCon-2015/issues/124

[2015-04-24 19:14] timwood commented on #78
Great solution. Thanks.

[2015-04-24 19:15] timwood commented on #44
Much better!

[2015-05-05 01:55] timwood opened #95 "Remove extra space on initial ticket registration page"
A 300px height was added to .container.preface in commit 30ffcb48585b6fadf53cc28ca10ae0652ce61107 (git diff b33630eeb4e4f014454e53aae0752aefe2c5c556..30ffcb48585b6fadf53cc28ca10ae0652ce61107 docroot/sites/all/themes/govcon/sass/govcon.styles.scss) that is affecting the initial ticket registration page. Just need to adjust the css targeting, I think.

![screen shot 2015-05-04 at 9 48 02 pm](https:/

[2015-05-05 02:01] timwood opened #96 "Fix spam issue on site and remove spam!"
Lots of spam registrations and some spam comments/content. Mollom isn't being applied to the ticket registration form and there is no option to do so in the Drupal UI, but using the Mollom API we can expose the appropriate form to Mollom and then configure it. Example: http://kahthong.com/2013/06/integrate-your-custom-drupal-forms-mollom-captcha-spam-protection
- [x] Apply Mollom CAPTCHA to ticket

[2015-05-05 02:57] jonraedeke commented on #95
Fixed

[2015-05-05 02:57] #95 closed, assigned to jonraedeke

[2015-05-05 07:28] timwood opened #97 "Update to COD Beta91"
https://www.drupal.org/node/2482961

[2015-05-05 09:18] timwood commented on #96
@bendygirl I slogged through more users and then deleted any tickets without user association, leaving us with the expected number of tickets. There are a few users I'm unsure about, so please have a look at page 1-2 of the users list.

[2015-05-05 13:27] timwood commented on #97
Done!

[2015-05-05 13:27] #97 closed, assigned to timwood

[2015-05-05 13:28] timwood commented on #60
@dsheffler Just wanted to highlight this task again. Should I contact Bill B?

[2015-05-05 13:29] timwood commented on #52
@bendygirl We missed the April 30 milestone which I included this in. Should I move it to another milestone, disassociate with any milestone or other suggestion?

[2015-05-05 13:37] bendygirl commented on #52
I would prefer that we move it to the next milestone, assuming we don't have too much more slippage from the schedule. But sessions haven't been finalized yet. We should start plotting this week while at Drupalcon.

[2015-05-05 13:41] timwood commented on #94
@dsheffler and @cmndr-king do you think this is still important/worth doing? The schedule will be decided soon, so attendee session voting is not really needed anymore. The attending indication might still be worthwhile to gauge interest for room assignment.

[2015-05-05 13:42] dsheffler commented on #94
At this point, I don't think it's worth it. We're going to be deciding
sessions soon and with DrupalCon coming up, I doubt too many people are
going to be paying attention.

---

Working to find a cure for blood cancers. Donate and save a life! -
http://pages.teamintraining.org/nca/yourway15/dsheffler

On Tue, May 5, 2015 at 9:41 AM, Tim Wood notifications@github.com wrote:

[2015-05-05 13:42] timwood commented on #52
If you don't have time and want to assign to someone else, feel free to do that here or via email. I'd think most of the social events are already scheduled and independent of the daily event schedule, right?

[2015-05-05 15:15] timwood commented on #94
Thanks for the input @dsheffler. I'll put this on the back-burner for now. Might still be useful for users to outline their own schedule/attendance for their own info. So if there's time.

[2015-05-05 15:15] timwood commented on #77
PUNT

[2015-05-05 15:17] timwood commented on #22
Shifting to next milestone.

[2015-05-07 12:30] #96 closed, assigned to bendygirl

[2015-05-07 12:30] timwood commented on #22
@jonraedeke Do you know when you might have some time to work on the home page?

[2015-05-07 12:32] timwood commented on #60
@dsheffler @bendygirl We need to get the training schedule up. Haven't we confirmed all the training organizations? Can we just put up the page with what they are offering and the cost (free, right?) One user submitted a question about this on the Contact us page. He needs to see what training will be available to he can plan for that.

[2015-05-07 12:44] bendygirl commented on #60
I sent the final email to Bill last night for him to send to the trainers, to remind them to create their own eventbrite pages. Once I have their links back and their descriptions, I'll put the content up on trainings. I think I have the content for the Taoti one, they submitted it as a session. @dsheffler can you look at that Taoti submitted session? I am wondering if it's a session and not their

[2015-05-07 13:48] bendygirl commented on #52
yes. Nina has been working to finalize the happy hour. Since we don't yet have a sponsor for trivia, we might not be doing that, but we will see.

[2015-05-08 01:20] jonraedeke commented on #22
@timwood I hope to get the dries image and some news theming done tonight.

[2015-05-08 05:25] jonraedeke commented on #22
@timwood I pushed the news styling (to include the date) and the Dries callout. Homepage still needs twitter feed, subscribe and social media links possibly.
![screen shot 2015-05-08 at 1 22 24 am](https://cloud.githubusercontent.com/assets/2054715/7531017/140470c0-f521-11e4-8130-7120999f9083.png)

[2015-05-08 11:32] timwood commented on #22
Looks awesome!
On May 8, 2015 1:25 AM, "Jon Raedeke" notifications@github.com wrote:

[2015-05-08 19:08] timwood opened #98 "Test Speaker email functionality"
/admin/conference/1/speakers

Test for Accepted and Declined.

[2015-05-11 18:34] timwood commented on #54
This was done in the latest version of COD.

[2015-05-11 18:41] timwood commented on #68
COD now comes with this functionality although it's available for more than one ticket and allows you to copy from one to another any direction.

[2015-05-11 18:41] #68 closed, assigned to nobody

[2015-05-11 18:41] timwood commented on #68
Although it doesn't seem to work for email address field. :-(

[2015-05-12 21:14] bendygirl commented on #98
@timwood on this one, can we add a review for the messages. We need to test that it goes out and that there is a message that uses the replacement tokens (guessing that will be the case). We might also need to review and edit those messages.

One last question, did you see similar functionality for sessions not selected?

[2015-05-12 21:44] bendygirl commented on #74
Checking in on this. Site is blocked still at VA, primarily due to the mismatch, partially for uncategorized content.

[2015-05-12 22:13] timwood commented on #74
@bendygirl I think we identified wwwizer as the solution. Unless someone knows of some other option.

[2015-05-15 21:06] timwood opened #99 "Add humans.txt to site"
http://humanstxt.org/

Why? Because it's fun!

[2015-05-15 21:07] timwood commented on #99
Per @sutch suggestion we should include ASCII photos of ourselves in the contents!

[2015-05-15 22:06] alisonjo315 commented on #99
Yes!!!!

++++1

[2015-05-16 03:41] jonraedeke commented on #22
Added Twitter feed to homepage.
![screen shot 2015-05-15 at 11 40 09 pm](https://cloud.githubusercontent.com/assets/2054715/7664565/d958c354-fb5b-11e4-8715-03321a5d7afc.png)

[2015-05-16 14:02] timwood commented on #22
@jonraedeke Looks great. What did you use to accomplish the twitter feed? I haven't had a chance to look yet.

[2015-05-16 22:41] jonraedeke commented on #22
I just put the Twitter embed code straight into a custom panel pane since the Twitter Block module didn't featurize.

Sent from my iPhone

[2015-05-18 20:34] bendygirl opened #100 "Add Sprints menu item to Community menu"
@timwood @jonraedeke @Nneka
Need to add a new menu item for Sprints.
I'll need to add content and link to a googledoc where Kalpana is managing the list of D8 sprinters.

This is a new requirement, but moving forward, pretty important that we get this up and working. I'll add a link to the googledoc when I have it.

I figure you 3 are the most likely to do this.

[2015-05-18 20:58] timwood commented on #100
So a simple content page with info about sprints and link to the gdoc? Any
admin can create that and make the menu item under community. If linking
directly to the gdoc from the menu, we can do that too.
On May 18, 2015 4:34 PM, "Kirsten" notifications@github.com wrote:

[2015-05-18 21:04] bendygirl commented on #100
Right now this is more of a holding spot for how we want to do this.

We could use an iframe for the page and link the document that way, but I'm asking Kalpana what would work best for her since she's gonna run the sprints.

I suspect it'll be a simple menu item with a link to the googledoc and then some theming (might not even need theming). Just waiting now for the googledoc, just don't want to

[2015-05-19 20:01] bendygirl commented on #100
@timwood Kalpana suggested a menu link. So, I can do this, should I do it on dev? Link to the  document https://docs.google.com/spreadsheets/d/1zbhJoz1KkHmaN0JOQXb_-0dvR010fUzvYc_jfHRJ7yg/edit#gid=0

I'm going to add content from here https://groups.drupal.org/node/463288 to a news piece and I think probably use some of it also on a page.

[2015-05-19 20:05] timwood commented on #100
Since a menu item is just content I'd just add it right to the production environment/site. Please feel free to do it yourself, if you have time. I suggest appending "(Gdoc)" to the link text and/or title tag attribute for the menu item so it's clear the link leaves the site.

[2015-05-22 18:40] cmndr-king opened #101 "How do we handle bio for speakers?"
- [x] Link presenter username to their profiles on session pages.
- [ ] Adapt [community view](https://www.drupalgovcon.org/admin/structure/views/view/dgc_community_attendees/edit/panel_pane_1) to filter by presenter so we can have a grid of speakers.
- [ ] Replace speaker field output with profile "card"?

---

Should we link to bio pages or what?  Should we add a menu option to access keynote sp

[2015-05-22 18:44] cmndr-king opened #102 "How do we setup a "/live" feed for keynotes"
We will live stream the three keynote sessions using a service offered by NIH.  Here's the home page:

http://videocast.nih.gov/

If you go to that link, you can pull up upcoming and past sessions to see to what degree it can be embedded.  As soon as our sessions have been finalized and added to the calendar, I can update the ticket.

[2015-05-22 19:12] cmndr-king opened #103 "Can we add the program schedule onto the program page?"
This page:

https://www.drupalgovcon.org/drupal-govcon-2015/upcoming_program

says that the schedule will be posted in April.  I was assuming something like:

10-11am - Opening Keynote
11-11:15 - Break
11:15-12 - Breakout session 1
etc.

[2015-05-22 19:29] alisonjo315 commented on #101
We should _definitely_ hyperlink presenter usernames to their profiles on session pages.

[2015-05-22 19:31] alisonjo315 commented on #101
I'm also in favor of a grid of speakers, but I understand the hassle of "what about when ppl don't have profile photos" "what about when people don't put bios and stuff into their profiles" "what about all the styling to make the grid look nice" and I'm not going to be super sad if we don't have a "directory of presenters" so to speak -- as long as we hyperlink presenter usernames to their profile

[2015-05-22 19:33] cmndr-king opened #104 "Can't edit the Program page to change announcement"
We need to remove the "submit a session" option and change release date to end of May.

https://www.drupalgovcon.org/drupal-govcon-2015/upcoming_program

[2015-05-22 19:42] bendygirl commented on #104
done.

[2015-05-22 19:49] cmndr-king commented on #104
Not so fast partner - I get this message when trying to edit.
![screenshot](https://cloud.githubusercontent.com/assets/11525049/7778484/10845800-009a-11e5-815e-78c0ca013b5b.png)

[2015-05-22 19:52] bendygirl commented on #104
Thanks James. You're a "content editor" and this is a known issue.
https://github.com/Drupal4Gov/Drupal-GovCon-2015/issues/63
I can give you admin if that's okay with @timwood but right now, it's the only work around we have.

[2015-05-22 19:52] #104 closed, assigned to nobody

[2015-05-22 19:57] cmndr-king commented on #104
No problem, I don’t need admin and can wait.

-James

---

James King, MLS, FSLA

http://about.me/cmndr_king

From: Kirsten [mailto:notifications@github.com]
Sent: Friday, May 22, 2015 3:53 PM
To: Drupal4Gov/Drupal-GovCon-2015
Cc: King, James (NIH/OD/ORS) [E]
Subject: Re: [Drupal-GovCon-2015] Can't edit the Program page to change announcement (#104)

Thanks James. You're a "content editor" and thi

[2015-05-22 19:58] bendygirl commented on #104
if you do, let @timwood or me know and happy to help.

[2015-05-29 23:52] #100 closed, assigned to nobody

[2015-05-30 00:02] bendygirl opened #105 "Update Tshirt size to all sizes"
We will need to update the fields AND email all attendees to update this information. Tim, I can do this, but it won't be in the feature, so do you want to do this in dev and test first or throw caution to the wind and do it on prod?

[2015-05-30 18:01] bendygirl opened #106 "Unable to set Times"
Unable to plot sessions due to a bug with times. Times are rendered 4 hours earlier than EST. Times do not show up in Content Type.

Field Collection
https://www.drupalgovcon.org/admin/structure/field-collections/field-event-timeslots/fields

Time slot view
https://www.drupalgovcon.org/admin/structure/views/view/cod_bof_schedule_timeslots/edit

The entity reference points to a view that does not a

[2015-05-30 18:24] jdearie opened #107 "Proposed Sessions Changed"
Changed the view for proposed sessions so that when criteria is not in url the fixed value default is accepted.

[2015-05-30 18:24] #107 closed, assigned to nobody

[2015-05-31 15:35] bendygirl commented on #106
@Nneka I'm on line so if you need help or want to do a join.me, let me know, I'm available, when not cleaning.

[2015-05-31 17:05] Nneka commented on #106
Was unable to reproduce this issue on my local development environment.  Thought it would be server time, but it seems that the server time is correct.  I don't have ssh access, but I used the datetime page (https://www.drupalgovcon.org/admin/config/regional/date-time/formats/add) and typed in 'M d Y g:i a T' into the date format, and it generated the correct date.   Still investigating.

[2015-05-31 17:07] bendygirl commented on #106
@Nneka I could add a few times. Not sure that would be helpful, but if you can fix the time issue, then you should be able to see pretty clearly when the added times revert to the actual time.

[2015-05-31 17:12] Nneka commented on #106
@bendygirl Ok.  Found the module that generates that "Add Time" form.  Its the cod_schedule module.  Looking at the code to debug.

[2015-06-03 01:27] timwood commented on #106
Looks like the PHP date extension timezone is set to UTC, which may be the cause for the time mismatch. See the Drupal PHPinfo page here (search for 'date.timezone'): https://www.drupalgovcon.org/admin/reports/status/php

The Times entity's "Date and time" field uses "Date's time zone" for "Time zone handling", which as we see above is set to UTC. See here: https://www.drupalgovcon.org/admin/confe

[2015-06-03 01:45] bendygirl commented on #106
First off, yeah for figuring it out.

And now, to loop in David.

Sent from my iPhone

[2015-06-03 02:08] timwood commented on #106
Looped Dave via email as he's not part of this Git organization so I cannot @ him here.

[2015-06-03 13:30] Nneka commented on #106
Thanks @timwood .  I don't mind testing the change.  Let me know.

[2015-06-03 13:31] unn commented on #106
I am everywhere @timwood

[2015-06-03 13:58] timwood commented on #106
@Nneka What is the date.timezone set to in your local environment where you did the earlier testing?

@unn ah ha! I guess I just didn't know your username.

[2015-06-03 14:06] Nneka commented on #106
@timwood It's populated with nothing.

date.timezone   no value    no value

Using Virtualbox - Ubuntu

[2015-06-05 22:12] bendygirl opened #108 "Times and associated rooms"
times and associated rooms do not show up when plotting sessions.

Using Alison's session https://www.drupalgovcon.org/drupal-govcon-2015/sessions/features-absolute-beginners-drupal-7
edit> schedule info>Session Time Slot(s) only shows "none" it should have a date, time and room.

The session shows a time and date when using the drag and drop function, and after any session has been added to a spe

[2015-06-05 22:15] bendygirl opened #109 "duplicate tickets/registrations"
there is a growing difference between Tickets https://www.drupalgovcon.org/admin/conference/1/tickets
and registrations https://www.drupalgovcon.org/ticket_registration/manage/1/registrations

currently, the difference is 72 more tickets than registrations. This may be due to a registrant obtaining multiple tickets or selecting a number for their office/friends. Or these may simply mean we have a

[2015-06-06 21:18] timwood commented on #98
@bendygirl Is this still relevant since you and Jess communicated w/speakers outside of Drupal already?

[2015-06-06 21:21] timwood commented on #109
It could also be due to tickets from spammers that were not deleted and do not show up in the list at https://www.drupalgovcon.org/ticket_registration/manage/1/registrations as that list only shows tickets that have a corresponding Drupal account which created them. I believe when cleaning up spam accounts, we didn't delete tickets for a portion of the accounts removed.

[2015-06-06 21:22] timwood commented on #103
I believe this was intended to be a temporary solution until sessions were selected, right @cmndr-king ? Or is it to compliment the built-in COD functionality as a more high-level overview schedule for the event?

[2015-06-06 21:23] timwood opened #110 "Codify sessions view changes to default to "Accepted" sessions"

[2015-06-06 21:41] timwood commented on #102
I've got an unpublished page up with an example embed from the NIH videocast. Seems to work, even replacing http with http**s**. Would like to ask @jonraedeke whether we can do anything to make this responsive.

https://www.drupalgovcon.org/drupal-govcon-2015/drupal-govcon-2015-live

[2015-06-06 21:45] timwood commented on #108
@bendygirl as user 1 (admin) I can see the Session time slot(s) (rooms, dates and times) in that field. So might be a permission thing with regular users that have admin role.

[2015-06-06 21:56] bendygirl commented on #98
Can be closed

Sent from my iPhone

[2015-06-06 21:58] bendygirl commented on #108
No, those only now show up because I associated a session with a time slot and room. Then, the times show up.

Sent from my iPhone

[2015-06-06 22:40] timwood commented on #98
For now I'm going to punt to 2016.

[2015-06-06 23:33] timwood commented on #108
But to plot sessions you use the drag and drop back-end thingy, right?

[2015-06-06 23:49] bendygirl commented on #108
We can use that since this option seems to be unavailable. But the layout on the page for the drag and drop was a bit difficult to look at (for my old eyes).

Using the drag and drop might be the only option at this point.

Sent from my iPhone

[2015-06-07 00:40] cmndr-king commented on #103
Primarily a filler. It could be useful to show the entire schedule at a glance but not critical if we have a mobile friendly full schedule.

-James

---

James King, MLS, FSLA

http://about.me/cmndr_king

On Jun 6, 2015, at 5:22 PM, Tim Wood <notifications@github.com<mailto:notifications@github.com>> wrote:

I believe this was intended to be a temporary solution until sessions were selected, right

[2015-06-07 01:38] timwood commented on #110
Done! Changed the contextual filter for session status to not use a default so we don't have to change it as the sessions status progress. The view will respond with page not found at the /sessions url, so the menu item should include the session status such as /sessions/accepted.

[2015-06-07 01:38] #110 closed, assigned to nobody

[2015-06-07 01:40] jonraedeke commented on #106
Not sure this is the exact issue:
https://www.drupal.org/node/2346603

[2015-06-07 01:45] timwood commented on #105
@bendygirl The defaults for COD are broken up by Mens and Womens XS - XL. We added our own values of Small, Large and 2XL. Can you define "all sizes" so I know what to do about this? If we go back to Men/Women, I'll have to make a decision about how to manipulate (update hook) the existing data into the COD defaults (Men's vs. Women's) or just leave our values and we can make an assumption about t

[2015-06-07 01:45] timwood commented on #105
I'd prefer not to have to write an update hook.

[2015-06-07 02:01] timwood commented on #106
Also relevant issues?
https://www.drupal.org/node/1703332

[2015-06-07 02:03] timwood commented on #106
https://www.drupal.org/node/2407607

[2015-06-07 02:15] timwood commented on #106
@Nneka Did you figure out anything else with this date format issue? Jon and I think the DGC planning team can work through scheduling with the wrong times displayed if needed, but the one place that times display to public users is on the session node page. I'm going to focus on that for now.

[2015-06-07 02:30] timwood commented on #106
Temporarily we could hide the session time from session node view. @jonraedeke's suggestion

[2015-06-07 02:49] timwood commented on #80
Removing from sprint as are we not going to use any of the default "program" functionality. We are going to work on the /schedule functionality.

[2015-06-07 02:50] jonraedeke opened #111 "Theme the session schedule"
I like https://austin2014.drupal.org/schedule.html

I'm probably going to create a new view for this instead of trying the overwrite what COD did.

[2015-06-07 02:51] timwood commented on #52
Moving to "print date" milestone. Can we get this up soon?

[2015-06-07 02:52] timwood commented on #60
Moving to "print date" milestone. Are trainings almost ready to publish?

[2015-06-07 02:55] bendygirl commented on #60
I've got them mostly set up. https://www.drupalgovcon.org/drupal-govcon-2015/full-day-trainings

Karl is adding new images to the page.

[2015-06-07 02:57] bendygirl commented on #52
soon, but not ready for this yet.

[2015-06-07 04:57] timwood commented on #106
We think we have a temporary fix/patch which I've uploaded to D.O. here: https://www.drupal.org/node/2407607#comment-9999695

I need to do a little more testing tomorrow before I commit this to our repo.

[2015-06-07 05:19] jonraedeke commented on #111
Decided to forgo the ability to filter by session track so I was able to just override the COD session schedule. TODO: styling

[2015-06-07 18:04] timwood commented on #106
I believe this is now resolved in Dev, will be available on the site soon.

[2015-06-07 18:04] #106 closed, assigned to Nneka

[2015-06-07 18:23] timwood commented on #99
Done. Contains Tim and Jon credit with ASCII photos of each, for now.

[2015-06-07 18:23] #99 closed, assigned to alisonjo315

[2015-06-07 18:26] timwood commented on #103
@cmndr-king If it's not too much work, can you add a manually added, text-based (using headers similar to https://events.drupal.org/losangeles2015/program) to the upcoming program page linked in this task? Then change the path to just program (remove upcoming_).

[2015-06-07 18:30] timwood commented on #108
I believe the drag-and-drop scheduler thingy creates a "timeslot" when you drag a session onto a time and room. Each timeslots is a field collection entity and this is what shows in the session node edit form at edit> schedule info>Session Time Slot(s), which is why there are no options until you start dragging sessions in the drag-and-drop scheduler. Let's just try to use the drag-and-drop schedu

[2015-06-07 18:30] #108 closed, assigned to nobody

[2015-06-07 19:11] bendygirl commented on #108
Ok, will try this.

Sent from my iPhone

[2015-06-07 20:38] timwood commented on #109
I've deleted 36 tickets from previous spammers. More to come.

[2015-06-07 20:42] timwood commented on #109
Deleted three more that were created by "austinfin@yahoo.com", a blocked account that I guess we never confirmed as spammer and so never deleted. I've deleted the tickets and account.

[2015-06-07 20:45] timwood commented on #109
Deleted 20 more tickets not belonging to any user account.

[2015-06-07 20:47] timwood commented on #109
Delete 14 more tickets not belonging to any user account.

[2015-06-07 20:48] timwood commented on #109
One more.

[2015-06-07 21:13] timwood commented on #109
So we've now got a discrepancy, from the two screens in the original issue above, of **two** tickets. I believe these are the two tickets in question:
https://www.drupalgovcon.org/ticket_registration/6716
https://www.drupalgovcon.org/ticket_registration/6601

You can see the "Registrant" for these tickets is "Anonymous", which I believe means the account, that created these tickets, was since dele

[2015-06-07 21:13] #109 closed, assigned to nobody

[2015-06-08 01:23] timwood commented on #93
Change to seckit settings featurized and pushed to production.

[2015-06-08 13:57] alisonjo315 commented on #99
​Love it!!!!!!!  (Tim's image is probably too big, though -- you can't
really see the whole thing on your screen at once like you can with Jon's.)

[2015-06-08 14:00] timwood commented on #99
Yeah. I didn't want to spend too much time on it. I just need to resize the original image to get a smaller version because the resize feature of the image to ascii tool I was using didn't work.

[2015-06-10 17:33] jonraedeke commented on #111
Just committed the styling to dev.

![screen shot 2015-06-10 at 1 24 47 pm](https://cloud.githubusercontent.com/assets/2054715/8089337/4ccc0f80-0f75-11e5-8592-0896ea1a76e3.png)

[2015-06-10 18:21] timwood commented on #111
Looks awesome! Only thing I noticed is that the "Front-end, User Experience and Design" track is too long and bleeds into the track on the next line. It's not very noticeable on desktop, but is much worse on other break points.

![screen shot 2015-06-10 at 2 13 43 pm](https://cloud.githubusercontent.com/assets/91050/8090333/621cbc80-0f7b-11e5-927a-836853df55b6.png)

![screen shot 2015-06-10 at 2 1

[2015-06-10 19:14] jonraedeke commented on #111
Oops, I'll fix that. There's always gotta be one super long title. Front-End, UX and Design would have been good.

Yes, it's very hard to add filters the way this view is set up. Filtering a view of aggregated time slots on one session term just isn't working for me. AJAX filter might be impossible.

I'm open to suggestions.

[2015-06-10 19:22] jonraedeke commented on #111
Might have to totally redo the view like you did with the sessions view and not use AJAX tabs for the days to get filters to work.

[2015-06-10 19:59] timwood commented on #111
So I was able to get an exposed filter to work against all the embedded views by adding an additional page display to "COD Event Sessions" view and enabling the "Exposed form in block" setting. Then I added that block to the panel above the view. It filters all the views of sessions in all the timeslots and across the days. I also had to add a relationship to "COD Event Sessions" view to make the

[2015-06-10 20:05] jonraedeke commented on #111
Man, you're good! I say it's perfect. I think I can move it with css after it's in code.

[2015-06-10 20:24] timwood commented on #111
Changes committed and pushed to Git develop branch.

[2015-06-10 20:26] timwood commented on #105
@bendygirl Any thoughts on this? We didn't do anything with this over the sprint. Is the t-shirt printing date looming?

[2015-06-10 20:26] timwood commented on #103
Done!

[2015-06-10 20:26] #103 closed, assigned to cmndr-king

[2015-06-10 20:32] bendygirl commented on #105
we can leave it for now.

On Wed, Jun 10, 2015 at 4:26 PM, Tim Wood notifications@github.com wrote:

##

Kirsten
http://uniongal.blogspot.com
Join Uniongal on Reddit http://www.reddit.com/r/Uniongal/

[2015-06-10 20:52] bendygirl commented on #70
Looks like we dropped the ball on this. Any thoughts on what we do now?

[2015-06-10 20:55] dsheffler commented on #70
Any reason why we can't just update the form and then send an email to
attendees asking them to update their info? That being said, someone should
go through past meeting minutes as Tim suggested and make sure nothing else
is missing.

---

Working to find a cure for blood cancers. Donate and save a life! -
http://pages.teamintraining.org/nca/yourway15/dsheffler

On Wed, Jun 10, 2015 at 4:52 PM, K

[2015-06-10 20:57] bendygirl commented on #70
Just need to find someone who has the time to write this up. I'm sure we could use a privacy statement from another site. We should probably have a code of conduct, too.

[2015-06-10 21:00] dsheffler commented on #70
Becca already wrote a code of conduct and it's live on the site (under the
About menu). A privacy statement should be fairly easy to lift from another
Drupal camp that does the same thing.

---

Working to find a cure for blood cancers. Donate and save a life! -
http://pages.teamintraining.org/nca/yourway15/dsheffler

On Wed, Jun 10, 2015 at 4:57 PM, Kirsten notifications@github.com wrote:

[2015-06-10 21:01] bendygirl commented on #70
I like the borrowing from another site.

[2015-06-10 21:21] timwood commented on #101
This is done in develop code branch. Will be live after next code update.

[2015-06-10 21:23] timwood commented on #102
The links for the live stream for the three keynote addresses are:

Wednesday - http://videocast.nih.gov/summary.asp?live=16473

Thursday - http://videocast.nih.gov/summary.asp?live=16475

Friday - http://videocast.nih.gov/summary.asp?live=16477

[2015-06-10 21:26] timwood commented on #102
@cmndr-king Do you know if we can just change the "file" parameter in the embed code I used in the example page to one of the numbers in the live links above? Here is the code I used:

[code]

[2015-06-11 02:53] bendygirl opened #112 "bug on scheduling"
can't plot anything for Room B on July 23rd at 1pm.

[2015-06-12 17:51] timwood commented on #112
I thought I was onto something, but ended up not. Not sure what's causing this or how to fix.

[2015-06-12 20:00] alisonjo315 opened #113 "Broken link to sessions from Program page"
At the bottom of https://www.drupalgovcon.org/drupal-govcon-2015/upcoming_program

Link to accepted sessions goes to https://www.drupalgovcon.org/drupal-govcon-2015/sessions
# wompwomp

I can just update the link, or is there a desire to change how the view behaves (or both)? ( @timwood @jonraedeke )

[2015-06-12 20:05] timwood commented on #113
The view behaves how we want it now. I thought I had put the correct link in when I edited that page the other day, but I guess I didn't. :-( Feel free to update to append /accepted and it will work!

[2015-06-12 20:12] alisonjo315 commented on #113
K, all done, thanks!

[2015-06-12 20:12] #113 closed, assigned to alisonjo315

[2015-06-16 16:07] bendygirl commented on #112
@Nneka @alisonjo2786 @unn so, @timwood is heading out for vacation and we've still got this bug, preventing us from plotting two sessions.

Can any or all of you take a look and see what's up with it?

[2015-06-16 21:35] jonraedeke commented on #112
When I try to drag a session on that timeslot, my console shows an error:
POST https://www.drupalgovcon.org/ajax/cod-schedule/update-session 503 (Service Temporarily Unavailable)

[2015-06-16 23:18] timwood commented on #112
Oh good clue, @jonraedeke . When I do the release in a bit I'll look into it. Post back here if you find anything else out.

[2015-06-17 01:08] jonraedeke commented on #112
https://www.drupal.org/node/2281453

Looks like it might be related. I'll try this in a bit.

[2015-06-17 01:10] jonraedeke commented on #112
Seems like if that was it, all of them would break. Plus path looks fine.

[2015-06-17 01:11] timwood commented on #112
Okay. Looking at the details for the post request to https://www.drupalgovcon.org/ajax/cod-schedule/update-session which fails with the 503 error I see the following post data:

Unfortunately timeslot 281 does not exist in the DB table field_data_field_event_timeslots. It thinks it exists because it wants to use that timeslot ID instead of "NEW" which is what you see when dragging a session to a d

[2015-06-17 01:14] jonraedeke commented on #112
Can we add a new timeslot that is 5min different and drag all the sessions to the new one?

[2015-06-17 01:19] jonraedeke commented on #112
If you click on the arrow to edit the timeslot and try to save you get an AJAX error popup.

[2015-06-17 01:21] bendygirl commented on #112
Would we even need to do that? We could do it at 12:59.

Or, can we move all the ones there now, to the new time and THEN, delete 1pm and recreate it? Would that work for the database?

Sent from my iPhone

[2015-06-17 01:23] timwood commented on #112
All possible solutions. Let's try one or more in a local environment. @jonraedeke do you have time now?

[2015-06-17 01:24] jonraedeke commented on #112
@timwood Yep, I have time now. I will pull prod and try that.

[2015-06-17 01:53] jonraedeke commented on #112
Ok, so it worked to create a new timeslot, but when I deleted the old one and edited the new one to be 1pm, some sessions vanished. Not sure where. I'm going to try dragging them out of the 1pm to the side first.

[2015-06-17 01:54] jonraedeke commented on #112
That was local, btw.

[2015-06-17 02:06] jonraedeke commented on #112
That worked great. Locally, I dragged the sessions off that time slot, deleted it and created the timeslot again and dragged them back on. I just hope we can find and fix the 2 sessions that were unscheduled previously. I will do this on the prod site.

[2015-06-17 02:20] jonraedeke commented on #112
Done. @bendygirl sorry if we screwed up 2 of the scheduled items, but the corrupt timeslot is gone now.

[2015-06-17 02:20] #112 closed, assigned to nobody

[2015-06-17 02:32] bendygirl commented on #112
Wow, what a work around!!

Sent from my iPhone

[2015-06-17 02:37] timwood commented on #112
YAY Jon! You are my hero.

[2015-06-17 03:32] timwood commented on #111
This is done!

[2015-06-17 03:32] #111 closed, assigned to jonraedeke

[2015-06-17 03:44] timwood commented on #112
1pm on Friday is also all set.

[2015-06-22 13:01] jonraedeke opened #114 "Codify session views change that hides keynotes"
So the keynotes added were showing up on the homepage in the listing of sessions and the icon links. I think it's best to hide them here, but show on schedule view. I did it in production, since it was breaking the nice 4-up icon links on the homepage.

[2015-06-22 13:18] jdearie commented on #114
good call - thx Jon! I hadn't even thought to look at the accepted sessions page.

[2015-06-22 16:04] jdearie opened #115 "Speaker got error message when trying to update their session"
Larry Gilleck (DOI) attempted to update his session description but received this error message when trying to save.

The referenced group (node:1) is invalid.

[2015-06-22 16:24] jdearie commented on #115
When I logged in as admin and tried to update the txt myself, I got this message:

Temporarily Unavailable
The website you are trying to reach is having technical difficulties....

[2015-06-22 16:27] timwood commented on #115
Try again. That may be due to CDN.

On Mon, Jun 22, 2015 at 12:24 PM, Jessica Dearie notifications@github.com
wrote:

[2015-06-22 16:30] jdearie commented on #115
Saved for me now.

[2015-06-24 13:48] timwood opened #116 "Update COD due to Drupal security releases"
When COD has a new release we'll need to apply it. We currently need three security updates:
- [ ] [Drupal core 7.38](https://www.drupal.org/drupal-7.38-release-notes)
- [ ] [IEF 1.6](https://www.drupal.org/node/2507593)
- [ ] [jQuery Update 2.6](https://www.drupal.org/node/2507555)
- [ ] [Views Bulk Operations](https://www.drupal.org/node/2516688)

COD beta11 is out as of 7/7. https://www.drupal.

[2015-06-28 17:06] bendygirl commented on #115
still having some issues with editing sessions. I've had two recent complaints. Mohan and this one:

First Name: Theresa
Last Name: Devine
Email Address: theresa.devine@hhs.gov
Inquiry Type: Sessions
Subject: THE DIGITAL AGE OF HEALTHY PEOPLE 2020 - added presenter
Message:
Hello!

I wanted to see if it would be possible to add one presenter to our session,
THE DIGITAL AGE OF HEALTHY PEOPLE 2020,

[2015-06-28 17:34] jdearie opened #117 "Images in Basic Pages"
When attempting to add an image to a basic page, there's no upload option... heard there was a work-around for news articles with the same issue?  @timwood ?

[2015-06-28 17:39] #60 closed, assigned to nobody

[2015-06-28 17:52] onelittlebecca opened #118 "Refresh Development Database with Production Database"
Please clone the production database to the dev database so we can effectively test the MySchedule and BoF features of COD. :-)

[2015-06-28 17:53] onelittlebecca commented on #118
Please include @Nneka and me on how to do this (and hell, even some of the other stuff) so that we can help. Acquia's dev environment is weird.

I should add, we both know we can and have copied databases down from prod to dev in normal situations and environments but we don't want to mess anything up and we recognize that acquia's dev environment is different from reg dev environments we have wor

[2015-06-28 18:25] bendygirl opened #119 "BoF"
Need to:
- [ ] test (do these work? Who can add? How do you add? Rooms? Scheduling? Preventing Spam?)
- [x] Expose for users to create BoF
- [x] Allow a schedule to be created for scheduled BoFs
- [x] Theme BoF Schedule

May need to break these down into different tasks but putting them all together for right now.

[2015-06-28 18:26] bendygirl commented on #119
@Nneka @timwood @jonraedeke @onelittlebecca

just making sure you all see this new item.

[2015-06-28 18:41] dsheffler commented on #118
Hey now...it's not that bad. :)

Sent from my iPhone

[2015-06-28 18:51] Nneka commented on #119
BOF functionality does work. Tested this functionality on the dev environment.  To enable BOF scheduling for a session time, use the scheduling page -->  admin/conference/1/schedule.
![screen shot 2015-06-28 at 2 57 10 pm](https://cloud.githubusercontent.com/assets/1054114/8397750/8c77e630-1da4-11e5-88ce-9f9751f44403.png)

Click on 'Edit timeslots'.  Under the 'Allowed Types', select BOF.  This wi

[2015-06-28 23:21] jdearie opened #120 "Remove Duplicate Ticket Registrations"

[2015-06-28 23:25] jdearie commented on #120
I exported all the registrants into an Excel file, found the duplicates and removed them... interestingly enough, all of the duplicate registrations were still pending.  15 tickets were removed

@bendygirl had removed some earlier this week.

[2015-06-28 23:25] #120 closed, assigned to jdearie

[2015-06-28 23:29] jdearie commented on #120
Correction - there were a few completed ticket registrations that were duplicates. I've removed those as well.

[2015-06-28 23:39] jdearie opened #121 "Import emails from all ticket holders to mailchimp"
after removing all the duplicate registrations, i imported the registrant emails into mailchimp.

[2015-06-28 23:39] #121 closed, assigned to jdearie

[2015-06-28 23:43] jdearie commented on #121
Also imported sponsor emails into sponsor list.

[2015-06-30 17:42] cmndr-king opened #122 "Accessibility page needs updates"
There are a number of typos on the accessibility page and I don't have the rights to save the change.  In addition, I can provide additional specifics on what accommodations are available.

Here's the proposed text:

The Drupal GovCon team is committed to providing a rewarding experience to all our attendees. If you require any assistive technology or other accommodations, please let us know [link

[2015-06-30 19:10] bendygirl commented on #122
should be done @cmndr-king check it please.

[2015-06-30 19:28] cmndr-king commented on #122
You have some literal text in there that should be removed.  For example, I said [link to …) and that text is still in there.  I added those notes because the ticket stripped out HTML.

-James

---

James King, MLS, FSLA

http://about.me/cmndr_king

From: Kirsten [mailto:notifications@github.com]
Sent: Tuesday, June 30, 2015 3:11 PM
To: Drupal4Gov/Drupal-GovCon-2015
Cc: King, James (NIH/OD/ORS) [E

[2015-06-30 19:31] bendygirl commented on #122
updated

[2015-06-30 19:36] cmndr-king commented on #122
Awesome, thanks!

-James

---

James King, MLS, FSLA

http://about.me/cmndr_king

From: Kirsten [mailto:notifications@github.com]
Sent: Tuesday, June 30, 2015 3:31 PM
To: Drupal4Gov/Drupal-GovCon-2015
Cc: King, James (NIH/OD/ORS) [E]
Subject: Re: [Drupal-GovCon-2015] Accessibility page needs updates (#122)

updated

—
Reply to this email directly or view it on GitHubhttps://github.com/Drupal4Gov/D

[2015-06-30 20:42] #122 closed, assigned to bendygirl

[2015-07-09 01:00] timwood opened #123 "Waitlist solution"
Featurize:
- [x] Changes to ticket registrations view to expose filter by state,
- [x] and VBO operation to change ticket state
- [x] New rule for waitlist thank you redirect on registration
- [x] New rule for emailing waitlist ticket holder when their ticket is approved (and corresponding component to accomplish this)
- [x] Change CSS and DGC 2015 home page panel to link the big ticket graphic to

[2015-07-09 01:07] timwood commented on #118
@onelittlebecca To do this, just log into the Acquia cloud web interface and drag/drop the DB and files from Prod to Dev. Since we don't have any automated hooks to scrub user's password/email, when testing functionality, make sure you don't end up emailing everyone on the site!

[2015-07-09 01:07] timwood commented on #118
Also a good idea to create a backup of any environments involved.

[2015-07-09 01:09] timwood commented on #123
Was reminded we don't have a t-shirt sponsor so no need for t-shirt fields anymore. Will not add to new ticket type, but won't remove from User or original "Free ticket" type.

[2015-07-09 01:11] timwood commented on #117
@jdearie Sorry for the delay. You don't see the File attachments field on basic page?
<img width="573" alt="screen shot 2015-07-08 at 9 11 18 pm" src="https://cloud.githubusercontent.com/assets/91050/8585862/f1ae1f24-25b5-11e5-8bcb-707a375522ae.png">

[2015-07-09 01:39] timwood commented on #114
I'll take care of this now.

[2015-07-09 01:41] jonraedeke commented on #114
Thanks!

On Wed, Jul 8, 2015 at 9:39 PM, Tim Wood notifications@github.com wrote:

[2015-07-09 01:50] Nneka commented on #119
@bendygirl
The page that displays scheduled BOF's can be viewed here -->  http://capitalcampdev.prod.acquia-sites.com/node/1/bofs .

It definitely needs some improvement on the theme if it will be used.  It first groups the BOF's by days.. and within that day it groups them by room and time.

The functionality is there, just needs to be tweaked a little.

What are the next steps?

[2015-07-09 02:08] timwood commented on #119
Looks like this is also on the production site here: https://www.drupalgovcon.org/drupal-govcon-2015/bofs where there's already some dates/timeslots which have been enabled for BOFs (probably not the right ones)

[2015-07-09 02:13] jonraedeke commented on #123
Testing this locally.

[2015-07-09 02:15] timwood commented on #114
Just pushed code changes.

[2015-07-09 02:15] #114 closed, assigned to timwood

[2015-07-09 03:09] jonraedeke commented on #123
@timwood This works great! The only thing I think needs to change is the email verbiage. I got an email that states "You've been registered for Drupal GovCon and have secured a ticket to the
event." Should be:
"You've been registered as a user on the Drupal GovCon site and have been added to the waitlist for the
event."

[2015-07-09 03:31] jonraedeke commented on #123
My bad. After reverting my env, the correct email language was sent. Great job @timwood !

[2015-07-09 03:56] jonraedeke commented on #123
@timwood I fixed the big homepage ticket button to say Waitlist and link to the registration page. Also, I figured out all-purpose css that will work with "Tickets", "Sold Out" or "Waitlist".

[2015-07-09 13:31] timwood commented on #52
Looks like this is done.

[2015-07-09 13:31] #52 closed, assigned to bendygirl

[2015-07-09 13:34] timwood commented on #77
This was accomplished via the CDN that @unn put in front of the site.

[2015-07-09 13:34] #77 closed, assigned to nobody

[2015-07-09 14:59] timwood commented on #123
Need to look into this more.

[2015-07-09 15:43] timwood commented on #123
After reverting the Ticket registrations view I had to manually set the field order again, which is an old bug.

[2015-07-09 15:43] #123 closed, assigned to timwood

[2015-07-10 02:14] #80 closed, assigned to timwood

[2015-07-10 02:14] timwood opened #124 "Attendee custom schedule"
Look into how to enable customized schedules for attendees.

[2015-07-10 02:21] timwood opened #125 "Page with responsive floor plan info"
Add page to live site with graphics and ? to make it responsive...and link between/back and forth this page and schedule page.

[2015-07-10 02:26] timwood opened #126 "Exclude non-Completed tickets from Community view"
Only show completed tickets so we don't show waitlist-ers in community, till they have a "completed", valid ticket.

[2015-07-10 03:39] timwood commented on #126
This is now codified and pushed to Develop branch.

[2015-07-10 03:39] #126 closed, assigned to timwood

[2015-07-10 04:09] timwood commented on #124
Custom schedule flag is available and bundled with COD but permissions limit use to Admin role. Additionally, the link doesn't display in the existing "links" object on the session node panel pane. Actually, no links display there. Not sure why.

Can manually add the flag object as a panel pane on the session panel via Entity > Flag for Node.

One option would be to have it as a link in the top ri

[2015-07-10 09:50] onelittlebecca commented on #124
I like what you did w adding it to the grid and stuff but I agree the my schedule sessions view/page is ugly and not really overly uhhhh pretty for attendees.

I do think it is a functionality we need but yea. There. My two cents.

Becca

Typed by thumbs

[2015-07-10 10:15] jonraedeke commented on #124
This is great! Is there a way we could clone the global schedule view we are using and filter by current user's flag?

[2015-07-10 11:16] bendygirl commented on #124
Keep in mind our goal in doing this is about overflow. If we plot something for B that really needs Balcony A, this gives us an option to move things around.

Sent from my iPhone

[2015-07-10 12:57] timwood commented on #124
Honestly, I don't think we'll get enough participation in this feature, even if we promote it heavily, to determine something like that, @bendygirl.

[2015-07-10 12:57] timwood commented on #124
I see it more as a convenience for attendees.

[2015-07-10 13:09] bendygirl commented on #115
more can't edit. Really think this should be a priority item for next year.

[2015-07-10 13:21] dsheffler commented on #124
I've had a lot of people personally request a custom schedule so if we can get it done, I think it could be a nice win for us.

Sent from my iPhone

[2015-07-10 13:29] timwood commented on #124
I think @jonraedeke's idea about cloning the schedule view is a good one. Only bad thing is it's overly complicated (panel + views within a view using views fields, ick!) so I think it will take a bit of effort to accomplish.

[2015-07-10 13:30] cmndr-king commented on #124
I agree that it would be great to have but the real value will be having it as soon as the schedule is released next year.  We can promote this and get it used but I’m not sure if enough will use it in the next week.

I agree that the summary view doesn’t look the best – how does it look on mobile?  For a big conference that I’m involved with, they use sched.org that looks like this (http://www.sl

[2015-07-10 13:31] jdearie commented on #117
I do - but I was trying to put images inline - screenshots of some of the steps...

[2015-07-10 13:32] timwood commented on #124
sched.org creates a very nice schedule. The recent Federal IT Symposium used it, just not sure how it would integrate (feed data to it) with Drupal and that's certainly a bigger lift than we can accomplish in time for this year.

[2015-07-10 13:34] timwood commented on #117
Since COD doesn't come with image to WYSIWYG convenience buttons/functionality, I guess you'd just have to get the URL of the uploaded image and manually add it to the body.

[2015-07-10 13:35] jdearie commented on #117
ok - good to know. thx.

[2015-07-10 13:35] #117 closed, assigned to nobody

[2015-07-11 02:36] bendygirl commented on #119
So, as @timwood suspected, not the right ones. Forgot to also add @Nneka

I created 3 BoFs. Also made each Room and timeslot a BoF as needed.

No luck.

I added 3 BoFs, but, there's a problem.

I can't associate the schedule with the BoF I just created. Open the BoF, can't add the room or Time.

Really could use this, folks won't sign up during the event. Past few years, no one does. We have to do

[2015-07-11 03:09] bendygirl commented on #119
@timwood @Nneka It's working now. I think it's @jonraedeke, but he says he didn't do anything.

But the schedule option is there, collapsed, but it's totally there. The three new BoFs I added are now also plotted.

[2015-07-11 19:08] jonraedeke commented on #119
I pushed styling and views overrides for date and time formats to dev. It looks like this now.

![screen shot 2015-07-11 at 1 38 59 pm](https://cloud.githubusercontent.com/assets/2054715/8635001/afc6c978-27de-11e5-8c84-18449e6422ea.png)

![screen shot 2015-07-11 at 1 39 14 pm](https://cloud.githubusercontent.com/assets/2054715/8635002/bc19adee-27de-11e5-8be8-4e3dcb350ae6.png)

[2015-07-11 19:48] bendygirl commented on #119
Jon, those look great!

Sent from my iPhone

[2015-07-13 02:43] jonraedeke opened #127 "Big SCHEDULE button on mobile since menu is hidden"
@timwood had the idea to add a big "Schedule" button on mobile like http://drupalcamppa.org/ .

I think we should replace the big ticket button on the homepage with a schedule link and add the schedule link to the upper right, keeping the ticket button there as well since there is no register/waitlist menu item. The upper right buttons are very visible on every page.

Need to design.

[2015-07-13 02:51] jonraedeke commented on #127
@timwood @bendygirl Do we need a "My Schedule" link in the upper right too, or can that be a button on the Schedule page?

Maybe the schedule page need prominent "My Schedule" and "BoF Schedule" buttons. I do wish they were tabs. I suppose I could fake that. Thoughts?

[2015-07-13 13:11] timwood commented on #127
@jonraedeke If we can have the My Schedule functionality ready, we could add it to the schedule page. Four buttons (fake tabs) at the top of the schedule page? Schedule, My Schedule, BoF Schedule and Floor Layouts (or some other wording).

[2015-07-13 14:44] timwood opened #128 "Investigate and discuss per-day tickets for 2016"

[2015-07-13 15:04] bendygirl commented on #127
Floor Layouts are on the lanyard. Will they also be necessary on the site?

On Mon, Jul 13, 2015 at 9:11 AM, Tim Wood notifications@github.com wrote:

##

Kirsten
http://uniongal.blogspot.com
Join Uniongal on Reddit http://www.reddit.com/r/Uniongal/

[2015-07-13 15:37] cmndr-king commented on #127
Wouldn’t hurt to have them on the site as well.  I’ve added them to the HackPad for reference.

-James

---

James King, MLS, FSLA

http://about.me/cmndr_king

From: Kirsten [mailto:notifications@github.com]
Sent: Monday, July 13, 2015 11:05 AM
To: Drupal4Gov/Drupal-GovCon-2015
Subject: Re: [Drupal-GovCon-2015] Big SCHEDULE button on mobile since menu is hidden (#127)

Floor Layouts are on the lan

[2015-07-13 15:53] timwood commented on #127
<img width="610" alt="screen shot 2015-07-13 at 11 48 37 am" src="https://cloud.githubusercontent.com/assets/91050/8653945/3e3a9b5e-2955-11e5-9c1a-7fb2c787b01b.png">

My Schedule is filtered by sessions flagged by the logged in user to be on their schedule. For anonymous it shows all the timeslots with empty sessions, not elegant, but should be fine. Also, there is no filter by session track, sinc

[2015-07-13 16:01] timwood commented on #127
Sorry, I think i meant those images to go into another task...

[2015-07-13 16:02] timwood commented on #124
I've created a My Schedule and will export to features today. Jon plans to style tonight and I'll try to release as soon as possible after that.

<img width="610" alt="screen shot 2015-07-13 at 11 48 37 am" src="https://cloud.githubusercontent.com/assets/91050/8654216/ffa84d26-2956-11e5-9467-4e70ba0af06d.png">
<img width="774" alt="screen shot 2015-07-13 at 11 48 52 am" src="https://cloud.githubus

[2015-07-13 18:55] timwood commented on #125
Start of the content page is here: https://www.drupalgovcon.org/drupal-govcon-2015/floor-layouts

Karl is going to provide svg graphic(s) of the floor plan drawings he made for the print material.

[2015-07-13 19:32] timwood commented on #125
(FYI, the page has a example svg file from one of Karl's sites.)

Modified the HTML in the floor-layouts page to use scaling tips recommended at https://youtu.be/w83XRCkMtHQ?t=18m4s (from https://css-tricks.com/video-screencasts/137-svg-is-for-everybody/). `height:auto; max-width:auto; width:100%`

Just used inline CSS for now. Not sure about the accessibility concerns of doing it this way.

[code

[2015-07-13 22:43] timwood commented on #119
So @Nneka and @jonraedeke Is there anything left to do for this to work for our attendees? Did someone test the ability of a normal logged in user to create a BoF? Is there a permission change needed? What about scheduled times, do we need to add those so people can schedule BoFs for the rooms/times allowed/available?

[2015-07-13 22:49] timwood opened #129 "Add social media links/icons to site/homepage"
Stems from https://github.com/Drupal4Gov/Drupal-GovCon-2015/issues/22

[2015-07-13 22:52] timwood opened #130 "Add "subscribe for updates" box/form to homepage"
Stems from https://github.com/Drupal4Gov/Drupal-GovCon-2015/issues/22

See screenshot from issue https://github.com/Drupal4Gov/Drupal-GovCon-2015/issues/21#issuecomment-80802180:
![screen shot 2015-03-14 at 10 24 04 pm](https://cloud.githubusercontent.com/assets/2054715/6654415/23ad1a16-ca99-11e4-843e-1d4671fce0c4.png)

[2015-07-13 22:55] timwood commented on #22
Created separate tasks for:
[Social media links/icons](https://github.com/Drupal4Gov/Drupal-GovCon-2015/issues/129)
[Subscribe for Updates](https://github.com/Drupal4Gov/Drupal-GovCon-2015/issues/130)

"Become a sponsor" item ended up as a main menu item.

Calling this issue done!

[2015-07-13 22:55] #22 closed, assigned to nobody

[2015-07-14 02:29] jonraedeke commented on #119
@timwood Looks like you are required to log in to schedule a BoF. The help text on the that page says to log in. When not logged in, you see the scheduled BoFs but not the button. Seems fine. Good to go as far as I can tell.

[2015-07-14 02:31] jonraedeke commented on #119
@timwood I suppose similar help text would be good on the "My Schedule" page, but that may seem obvious.

[2015-07-14 02:47] timwood commented on #119
Yeah, I thought about adding it, but decided not to.

[2015-07-14 03:39] timwood commented on #119
Bofs are up. Let me know if something doesn't work. Thanks all for help on this one!

[2015-07-14 03:39] timwood commented on #124
Custom schedule is live. Let me know if there are issues.

[2015-07-14 03:39] #124 closed, assigned to timwood

[2015-07-14 11:51] jdearie opened #131 "Create bit.ly account"
We should have (I should have) created a bit.ly account to track the clicks on those links from social media.

I created a bit.ly account using the d4g gmail account and linked it to the drupalgovcon twitter account.

I can share the login info via lastpass to anyone that needs it.

[2015-07-14 11:52] #131 closed, assigned to nobody

[2015-07-14 15:20] timwood commented on #125
SVG provided by Karl and I've inserted it as inline SVG on the page, for now.

[2015-07-14 16:26] bendygirl commented on #119
when creating a BoF, the "create a BoF" button doesn't go away after a BoF is created.

Should be able to limit this to one BoF per available room.

[2015-07-14 16:30] bendygirl commented on #119
![bof](https://cloud.githubusercontent.com/assets/956933/8678708/00bd2ba0-2a24-11e5-8b43-e97e8b055154.png)

[2015-07-14 16:44] timwood opened #132 "Fix overrides for event registration panel and ticket registration views"
These are overridden:
- https://www.drupalgovcon.org/admin/structure/pages/nojs/operation/page-event_registration/handlers/page_event_registration_panel_context/content
- https://www.drupalgovcon.org/admin/structure/views/view/ticket_user/edit
- https://www.drupalgovcon.org/admin/structure/views/view/ticket_attendee/edit

Figure out how to re-export/override without breaking registration.

[2015-07-14 17:39] bendygirl commented on #119
BoF doesn't allow you to add to your schedule, but the flag is enabled.

[2015-07-14 17:51] timwood commented on #119
It's just that there is no button (flag is not displayed) on the BoF schedule view, BoF node display, etc., so it cannot be added to schedule due to that. I left it out because I was lazy and tired. If we add it, we may need to tweak the "My Schedule" view.

[2015-07-15 03:43] jonraedeke commented on #127
Committed big homepage schedule button to dev.

![screen shot 2015-07-14 at 11 40 19 pm](https://cloud.githubusercontent.com/assets/2054715/8690410/26d0c550-2a82-11e5-989d-4a669d85754d.png)

[2015-07-15 03:48] #127 closed, assigned to jonraedeke

[2015-07-15 03:54] timwood commented on #127
Nice!
On Jul 14, 2015 11:48 PM, "Jon Raedeke" notifications@github.com wrote:

[2015-07-15 12:04] jdearie opened #133 "Mailchimp Updates"
Need to:
- [x] import latest list of ticket registrants
- [x] update mailchimp segment to account for volunteers
- [x] update mailchimp segment to account for organizers
- [x] clean-up/validate speaker list in mailchimp against the site list of speakers.
- [ ] do this again at some point.

[2015-07-15 12:20] jdearie commented on #133
I updated the mailchimp attendee list with the most recent export (7/14/2015 13:56).

I reviewed the Volunteer Google Doc and site Webform and updated individual member profiles to add them to the volunteer segment.

[2015-07-15 12:20] jdearie commented on #133
how did @timwood manage to not be in any of our MailChimp lists???

[2015-07-15 13:01] timwood commented on #133
I have an email notification about an @comment for me but see that it may have been deleted here. I should be on the Mailchimp list. I've been signed up as an attendee for a while.

[2015-07-15 13:13] jdearie commented on #133
I deleted it cuz i found you!  your email was in there but not your name...so when I searched for Tim, I got nothing.. then I found you :)

[2015-07-17 13:53] bendygirl opened #134 "Check-in on ticket state"
- [x] Permission changes
- [x] Build view
- [x] Create flag
- [x] Create rules to set ticket state to "Checked-in" and back to "Completed" to undo
- [x] Style "Check-in" flag as button
- [x] Style first column of view to not be 99% wide -- use second instead?
- [x] Write email template for check-in (or cancel this part)
- [ ] Export everything to features

Attendee manager appears to have no permi

[2015-07-17 14:01] timwood commented on #134
How do we want to be able to handle this this year?

[2015-07-17 14:28] bendygirl commented on #134
I'd like to have computers at registration and check folks off this way.

Next year, we should look into the bar coding so that sponsors can do leads off tags. But that's next year.

[2015-07-17 14:39] timwood commented on #134
I'll look at the permissions, enable proper perm for ticket management for attendee manager role and create a view that can be used for this purpose.

How's this sound? The view (modeled after the [ticket export view](https://www.drupalgovcon.org/admin/tickets/export)) would list users alpha by last name and include the following fields:
Attendee First Name
Attendee Last Name
Attendee Email
Dietar

[2015-07-17 14:41] timwood commented on #134
Permissions to test:
Administer ticket registration states
View (and edit) all registrations
Last resort: Administer ticket

[2015-07-17 14:50] bendygirl commented on #134
the view that's there now works well, maybe clone that and make it its own
basic page for just the "attendee manager" to use for checking in folks. It
lets them search by name which is handy. It also has info on the lunch
request (select option not a viewed option) and the option to change the
ticket state. Probably don't need the date created or "operations" or
tshirts, but everything else works.

[2015-07-17 14:56] timwood commented on #134
I didn't make anything yet, just discussing here. I think we don't need extra/extraneous filters, so I wasn't going to add Dietary needs as a filter, but is it useful as a visible field when checking in someone? Is there something different that people get on check-in for special lunches?

[2015-07-17 14:58] dsheffler commented on #134
If we do the same thing as last year, we just had a list of people who needed vegetarian lunches so those of us who needed them didn't have our food taken by other people who just didn't like the other options available.

[2015-07-17 14:59] timwood commented on #125
SVG file committed to Git repo in theme. Need to update page once released.

[2015-07-17 15:15] timwood commented on #134
So that is more for lunch handout than registration. We should make sure the special lunches get held at registration or an alternate table. Let's use a print out for that.

[2015-07-17 15:15] jdearie commented on #134
We had the paper lists for check-in last year - and it included dietary restrictions. We just grabbed those same papers when we were separating out the specialty lunches.

I think we may have confirmed special dietary restrictions on check-in, but it will definitely be useful to have a print out of the names and the lunches they receive...

[2015-07-17 15:19] bendygirl commented on #134
yes, at registration, Nina and the team will ask if they still need a
special lunch. Then, they pull those lunches out for the attendees. This
will mostly be for the gluten free bunch this year. But we do ask at
registration.

On Fri, Jul 17, 2015 at 10:58 AM, dsheffler notifications@github.com
wrote:

##

Kirsten
http://uniongal.blogspot.com
Join Uniongal on Reddit http://www.reddit.com/r/Unionga

[2015-07-17 17:25] bendygirl commented on #119
We need to disable the "create" BoF once the room has a BoF scheduled.

We've got an over lap on thursday where this has happened.

https://www.drupalgovcon.org/drupal-govcon-2015/bofs
![two bofs same roomo](https://cloud.githubusercontent.com/assets/956933/8753156/5a260634-2c87-11e5-9728-d09907cca86d.jpg)

[2015-07-17 18:31] timwood commented on #119
@bendygirl I'm not sure how to accomplish that. Any ideas?

[2015-07-17 19:55] timwood commented on #134
Changed "Administer ticket registration states" permission on live site to allow "attendee manager" role.

[2015-07-17 20:14] timwood commented on #134
Nope, that wasn't the right perm. That was for changing/adding/removing ticket STATES. Duh, Tim.

[2015-07-17 20:15] timwood commented on #134
Gave "attendee manager" role "View all registrations" and "Edit all registrations" perms.

[2015-07-17 22:24] jdearie commented on #134
Was thinking column order on the /ci view should be:
last name - first name - dietary need - email - org

Also - in addition to checking in, is there a quick way to update dietary need from the same view? or at least provide a link to the individual ticket so we can update meals?

This way we can export the most current dietary needs each day?

[2015-07-17 23:49] timwood commented on #134
I've changed the order, but put the "Check-in" action column first, with the intent for @jonraedeke to style it as a button and not 99% width (the default for the theme table styling for first column). It felt like too much linked text when it was in a column with or next to "Edit ticket", which I added as well.

I hadn't thought of updating dietary need, for those that might have missed that or h

[2015-07-17 23:58] timwood commented on #134
Since I'm using Flag and Rules I can send an email to the attendee on check-in. It could include a thank you and also important info/links. @jdearie @bendygirl Do you think there is value in this email? What about when the wrong user is checked in, I can't really account for that with simple rules. Here's what I have so far for the check-in email template, mostly taken from other rules based email

[2015-07-18 00:18] timwood commented on #134
Okay, so the view, flag and rules are finished. Check out the view at https://www.drupalgovcon.org/ci. Should be restricted to Admins and attendee manager.

@jonraedeke When you have a chance, can you please style the flag column "Check-in attendee" to be more like a button? You can pull down a copy of the site from production as I didn't do any of this in Features, yet.

BE VERY CAREFUL when work

[2015-07-18 03:24] timwood commented on #132
Tried to export again and it just causes pain.

[2015-07-18 03:47] timwood commented on #134
The checkbox looks great, @jonraedeke! But it looks like the Check-in view still has 99% width on the first column. You may need to view as non-admin to style.

<img width="669" alt="screen shot 2015-07-17 at 11 46 16 pm" src="https://cloud.githubusercontent.com/assets/91050/8760232/29fb5278-2cde-11e5-84b1-7b98c2ac7c7b.png">

[2015-07-18 03:50] timwood commented on #119
BoF's are now able to be added to "my schedule" and show there and you can only add one BoF to a timeslot. These changes are NOT yet live on DGC.org. They should be by tomorrow.

[2015-07-18 03:50] #119 closed, assigned to bendygirl

[2015-07-18 04:03] jonraedeke commented on #134
@timwood Thanks, should be fixed now.

[2015-07-18 15:24] bendygirl commented on #119
on staging?

On Fri, Jul 17, 2015 at 11:50 PM, Tim Wood notifications@github.com wrote:

##

Kirsten
http://uniongal.blogspot.com
Join Uniongal on Reddit http://www.reddit.com/r/Uniongal/

[2015-07-18 15:33] timwood commented on #119
Not on staging yet.

[2015-07-18 15:53] timwood commented on #125
[code]

[2015-07-18 16:03] timwood commented on #134
@jonraedeke I just tested the check-in checkbox and it works great, but hides the Flag messages associated with the flagging and unflagging action. I could see the top of the text inside the red box when checked. Can you make it so that text shows somewhere near the box as feedback?

[2015-07-18 16:34] timwood commented on #134
Here's what I ended up with in the email template:

Hi [ticket:field-profile-first] [ticket:field-profile-last],
Thanks for checking into the conference. The next three days are packed with opportunities -- make sure you make the most of them. Make the time to get to know the great people in this community. Say hello to someone you don't know...start a conversation in the hallway. Attend a Birds o

[2015-07-18 16:52] timwood commented on #134
Done!

[2015-07-18 16:52] #134 closed, assigned to nobody

[2015-07-18 16:53] timwood commented on #125
The live site now used the <img> tag which makes the layouts SVG more responsive.

[2015-07-18 16:53] #125 closed, assigned to jonraedeke

[2015-07-19 15:54] jdearie opened #135 "Content for Mentoring"
I realized we don't have any info about mentoring on the site. I took the content @timwood provided for the final attendee email and created a page under Program.

https://www.drupalgovcon.org/drupal-govcon-2015/mentoring

[2015-07-19 15:54] #135 closed, assigned to nobody

[2015-07-19 23:58] timwood commented on #135
Awesome. Thanks!

[2015-07-21 01:04] jdearie opened #136 "My schedule link when logged in on mobile devixe"
I was in my phone and followed a Twitter URL to the schedule. Clicked on my schedule. Empty. Oh ok, right. Gotta login. Clicked log in link from top left. Logged in. Used menu to get back to my schedule. Empty again - and login link is telling me to login. Clicked login again - I see my profile. Confirms I'm logged in, right?  Use menu to get back to my schedule and again it's empty and as if I'm

[2015-07-21 01:11] jonraedeke commented on #136
Just tried myself with Safari on an iPhone. I was able to log in and see "My Schedule" with sessions I previously added.

When you are looking at your schedule do you have the "log out" link in the upper right?

[2015-07-21 01:27] jdearie commented on #136
Ok, weird. Everything looks fine now. I swear I tried it 3-5 times to be sure I wasn't missing a step. Guess it was just a fluke.

[2015-07-21 01:27] #136 closed, assigned to nobody

[2015-07-22 02:17] cmndr-king opened #137 "Usability Lab tour info for posting on website"
We pulled together a last-minute tour opportunity for a NCI usability lab.  Directions and more information on how to get there are in the attached files.
[NCI_Lab_Tour_for_Web.pdf](https://github.com/Drupal4Gov/Drupal-GovCon-2015/files/804/NCI_Lab_Tour_for_Web.pdf)
[NCI_Lab_Tour_for_Printing.pdf](https://github.com/Drupal4Gov/Drupal-GovCon-2015/files/805/NCI_Lab_Tour_for_Printing.pdf)

[2015-07-22 02:22] cmndr-king commented on #102
I finally go the final links for the live feeds.  Here's the message from them but it looks like the easy route would be to simply link to the main page which will work each of the days.  After that, the other links will eventually point to the recording (there could be a delay):

The preferred link for any event is http://videocast.nih.gov
This will display “today’s” events and handle all the aut

[2015-07-22 03:48] timwood commented on #137
hey @cmndr-king Where would you like the "_Web" pdf posted? Do you want it to be it's own page, attached to a news article, direct link to the PDF from a menu item?

[2015-07-22 03:53] timwood commented on #102
I've added a "Live!" link to the main menu (far right for non-Admins) which goes directly to the NIH videocast page. No sense in having a content page which just links to a single other site.

[2015-07-22 03:53] #102 closed, assigned to nobody

[2015-07-22 09:03] cmndr-king commented on #137
I guess attacged to a news article.

-James

---

James King, MLS, FSLA

http://about.me/cmndr_king

-------- Original message --------
From: Tim Wood notifications@github.com
Date:07/21/2015 11:48 PM (GMT-05:00)
To: Drupal4Gov/Drupal-GovCon-2015 Drupal-GovCon-2015@noreply.github.com
Cc: "King, James (NIH/OD/ORS) [E]" James.King@nih.gov
Subject: Re: [Drupal-GovCon-2015] Usability Lab tour info for